[Desktop Entry]
X-SuSE-translate=true
OnlyShowIn=X-RAZOR;
Type=Application
Exec=razor-config-appearance
Terminal=false
Categories=Settings;DesktopSettings;Qt;X-RAZOR;
Icon=preferences-desktop-theme

Name=Razor Appearance Configuration
Comment=Configure appearance of Razor desktop
GenericName=Razor Appearance Configuration

Name[ru]=Настройки внешнего вида
Comment[ru]=Настройки внешнего вида Razor
GenericName[ru]=Настройки внешнего вида

Name[es]=Configuración de Aspecto Razor
Comment[es]=Configura el aspecto del escritorio Razor
GenericName[es]=Configuración de Aspecto Razor
