Source: %NAME%
Section: x11
Priority: optional
Maintainer: Alexander Sokolov <sokoloff.a@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), cmake, libqt4-dev (>= 4.5.1), 
  libmagic-dev, libxrender-dev, libxcomposite-dev, libxdamage-dev
Standards-Version: 3.8.4
Homepage: http://razor-qt.sourceforge.net

Package: %NAME%
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Razor - a lightweight, Qt based, desktop toolset
  Razor is a toolbox-like desktop-environment. While trying to feature 
  everything a modern desktop has to offer (panel, session, desktop) 
  it lets the user choose what to use.
