[Desktop Entry]
Type=Application
Exec=razor-autosuspend
Icon=razor-autosuspend
Terminal=false
Categories=Application;Qt;Utility
Name=Razor autosuspend
GenericName=Power management

#TRANSLATIONS_DIR=../translations


# Translations
GenericName[sl]=Upravljanje z energijo
Name[sl]=Samodejno v pripravljenost
Icon[sl]=razor-autosuspend
