[Desktop Entry]
X-SuSE-translate=true
OnlyShowIn=X-RAZOR;
Type=Application
Exec=razor-config-appearance
Terminal=false
Categories=Settings;DesktopSettings;Qt;X-RAZOR;
Icon=preferences-desktop-theme
Name=Razor Appearance Configuration
Comment=Configure appearance of Razor desktop
GenericName=Razor Appearance Configuration

#TRANSLATIONS_DIR=translations


# Translations
Icon[es_VE]=preferences-desktop-theme
Comment[es_VE]=Configurar apariencia del escritorio Razor
GenericName[es_VE]=Configuración de apariencia de Razor
Name[es_VE]=Configuración de apariencia de Razor
