[Desktop Entry]
X-SuSE-translate=true
OnlyShowIn=X-RAZOR;
Type=Application
Exec=razor-config-appearance
Terminal=false
Categories=Settings;DesktopSettings;Qt;X-RAZOR;
Icon=preferences-desktop-theme
Name=Razor Appearance Configuration
Comment=Configure appearance of Razor desktop
GenericName=Razor Appearance Configuration

#TRANSLATIONS_DIR=translations


# Translations
Icon[pt]=preferences-desktop-theme
Comment[pt]=Configurar o aspeto do Razor
GenericName[pt]=Configuração da aparência do Razor
Name[pt]=Configuração da aparência do Razor
