[Desktop Entry]
X-SuSE-translate=true
OnlyShowIn=X-RAZOR;
Type=Application
Exec=razor-config-appearance
Terminal=false
Categories=Settings;DesktopSettings;Qt;X-RAZOR;
Icon=preferences-desktop-theme
Name=Razor Appearance Configuration
Comment=Configure appearance of Razor desktop
GenericName=Razor Appearance Configuration

#TRANSLATIONS_DIR=translations


# Translations
Icon[zh_CN]=桌面主题首选项
Comment[zh_CN]=配置 Razor 桌面的外观
GenericName[zh_CN]=Razor 外观配置
Name[zh_CN]=Razor 外观配置
