[Desktop Entry]
X-SuSE-translate=true
OnlyShowIn=X-RAZOR;
Type=Application
Exec=razor-config-appearance
Terminal=false
Categories=Settings;DesktopSettings;Qt;X-RAZOR;
Icon=preferences-desktop-theme
Name=Razor Appearance Configuration
Comment=Configure appearance of Razor desktop
GenericName=Razor Appearance Configuration

#TRANSLATIONS_DIR=translations


# Translations
Icon[es_MX]=preferences-desktop-theme
Comment[es_MX]=Configurar apariencia del Escritorio de Razor 
GenericName[es_MX]=Configuración de Apariencia de Razor
Name[es_MX]=Configuración de Apariencia de Razor
