[Desktop Entry]
X-SuSE-translate=true
OnlyShowIn=Razor;
Type=Application
Exec=razor-config-appearance
Terminal=false
Categories=Settings;DesktopSettings;Qt;Razor;
Icon=preferences-desktop-theme
Name=Razor Appearance Configuration
Comment=Configure appearance of Razor desktop
GenericName=Razor Appearance Configuration

#TRANSLATIONS_DIR=translations


# Translations
Icon[pt_BR]=preferences-desktop-theme
Comment[pt_BR]=Configure a aparência da área de trabalho Razor
GenericName[pt_BR]=Configuração da aparência do Razor
Name[pt_BR]=Configuração da aparência do Razor
