[Desktop Entry]
X-SuSE-translate=true
OnlyShowIn=X-RAZOR;
Type=Application
Exec=razor-config-appearance
Terminal=false
Categories=Settings;DesktopSettings;Qt;X-RAZOR;
Icon=preferences-desktop-theme
Name=Razor Appearance Configuration
Comment=Configure appearance of Razor desktop
GenericName=Razor Appearance Configuration

#TRANSLATIONS_DIR=translations


# Translations
Icon[ar]=تفضيلات سمة سطح المكتب
Comment[ar]=تهيئة مظهر سطح المكتب ريزر
GenericName[ar]=تهيئة مظهر ريزر
Name[ar]=تهيئة مظهر ريزر
