[Desktop Entry]
X-SuSE-translate=true
OnlyShowIn=X-RAZOR;
Type=Application
Exec=razor-config-appearance
Terminal=false
Categories=Settings;DesktopSettings;Qt;X-RAZOR;
Icon=preferences-desktop-theme
Name=Razor Appearance Configuration
Comment=Configure appearance of Razor desktop
GenericName=Razor Appearance Configuration

#TRANSLATIONS_DIR=translations


# Translations
Icon[th_TH]=ค่าปรับแต่ง-เดสก์ท็อป-ชุดตกแต่ง
Comment[th_TH]=ตั้งค่ารูปลักษณ์ของเดสก์ท็อป Razor
GenericName[th_TH]=การตั้งค่ารูปลักษณ์ Razor
Name[th_TH]=การตั้งค่ารูปลักษณ์ Razor
