[Desktop Entry]
X-SuSE-translate=true
OnlyShowIn=X-RAZOR;
Type=Application
Exec=razor-config-appearance
Terminal=false
Categories=Settings;DesktopSettings;Qt;X-RAZOR;
Icon=preferences-desktop-theme
Name=Razor Appearance Configuration
Comment=Configure appearance of Razor desktop
GenericName=Razor Appearance Configuration

#TRANSLATIONS_DIR=translations


# Translations
Icon[eo]=preferences-desktop-theme
Comment[eo]=Agordi aperon de Razor-labortablo 
GenericName[eo]=Agordoj de apero de Razor 
Name[eo]=Agordoj de apero de Razor 
