[Desktop Entry]
Type=Application
Name=PolicyKit Handler
TryExec=razor-policykit-agent
Exec=razor-policykit-agent
OnlyShowIn=Razor;
X-Razor-Module=true

#TRANSLATIONS_DIR=translations


# Translations
Name[cs_CZ]=Zacházení s politikami
