[Desktop Entry]
Type=Application
Exec=razor-autosuspend
Icon=razor-autosuspend
Terminal=false
Categories=Application;Qt;Utility
Name=Razor autosuspend
GenericName=Power management

#TRANSLATIONS_DIR=../translations


# Translations
GenericName[zh_CN]=电源管理
Name[zh_CN]=Razor 自动休眠
Icon[zh_CN]=razor-autosuspend
