[Desktop Entry]
Type=Application
Exec=razor-autosuspend
Icon=razor-autosuspend
Terminal=false
Categories=Application;Qt;Utility
Name=Razor autosuspend
GenericName=Power management

#TRANSLATIONS_DIR=../translations


# Translations
GenericName[da]=Strømstyring
Name[da]=Automatisk slumrefunktionalitet
Icon[da]=razor-autosuspendering
