[Desktop Entry]
Type=Application
Exec=razor-autosuspend
Icon=razor-autosuspend
Terminal=false
Categories=Application;Qt;Utility
Name=Razor autosuspend
GenericName=Power management

#TRANSLATIONS_DIR=../translations


# Translations
GenericName[de_DE]=Energieverwaltung
Name[de_DE]=Razor autosuspend
Icon[de_DE]=razor-autosuspend
