[Desktop Entry]
Type=Application
Exec=razor-autosuspend
Icon=razor-autosuspend
Terminal=false
Categories=Application;Qt;Utility
Name=Razor autosuspend
GenericName=Power management

#TRANSLATIONS_DIR=../translations


# Translations
GenericName[uk]=Керування живленням
Name[uk]=Автоматичне призупинення
Icon[uk]=razor-autosuspend
