[Desktop Entry]
Type=Application
Name=Runner
TryExec=razor-runner
Exec=razor-runner
OnlyShowIn=Razor;
X-Razor-Module=true

#TRANSLATIONS_DIR=translations


# Translations
Name[eu]=Abiarazlea
