[Desktop Entry]
Type=Application
Exec=razor-autosuspend
Icon=razor-autosuspend
Terminal=false
Categories=Application;Qt;Utility
Name=Razor autosuspend
GenericName=Power management

#TRANSLATIONS_DIR=../translations


# Translations
GenericName[ro_RO]=Gestiune alimentare
Name[ro_RO]=Suspendare automată Razor
Icon[ro_RO]=razor-autosuspend
