[Desktop Entry]
Type=Application
Name=Qlipper
TryExec=qlipper
Exec=qlipper
OnlyShowIn=Razor;

#TRANSLATIONS_DIR=translations


# Translations
Name[th_TH]=ตัวเก็บประวัติคลิปบอร์ด
