[Desktop Entry]
Type=Application
Name=Application Switcher
TryExec=razor-appswitcher
Exec=razor-appswitcher
Hidden=true
OnlyShowIn=Razor;
X-Razor-Module=true

#TRANSLATIONS_DIR=translations


# Translations
Name[zh_TW]=應用程式切換器
