Source: razorqt
Section: x11
Priority: optional
Maintainer: %DEBFULLNAME% <%DEBEMAIL%>
Build-Depends: debhelper (>= 8.0.0~), pkg-config,
%ifnot RELEASE lucid maverick lenny etch
    dpkg-dev (>= 1.16.1~),
%endif
    cmake,
    libqt4-dev (>= 4.6.0),
    libmagic-dev,
    libxrender-dev,
    libxcomposite-dev,
    libxdamage-dev,
    libxcursor-dev,
    libudev-dev,
    libqt4-webkit | libqtwebkit4, 
%ifnot RELEASE lucid maverick lenny etch
    libpolkit-agent-1-dev,
    libpolkit-qt-1-dev,
    %set POLKIT yes
%endif
%if DISTRIB Debian
    %ifnot RELEASE squeeze lenny etch
    liblightdm-qt-dev,
    %set LIGHTDM yes
    %endif
%endif
%if DISTRIB Ubuntu
    %if RELEASE oneiric
        liblightdm-qt-1-dev,
        %set LIGHTDM yes
    %elsif RELEASE precise quantal 
        liblightdm-qt-2-dev,
        %set LIGHTDM yes
    %endif
%endif
    zlib1g-dev,
    libstatgrab-dev,
    libsensors4-dev
Standards-Version: 3.9.1
Homepage: http://razor-qt.org/
#Vcs-Browser: http://anonscm.debian.org/gitweb/?p=collab-maint/razorqt.git
#Vcs-Git: git://anonscm.debian.org/collab-maint/razorqt.git

Package: razorqt
Architecture: all
Depends: razorqt-appswitcher (>= ${binary:Version}),,
        razorqt-autosuspend (>= ${binary:Version}),,
        razorqt-config (>= ${binary:Version}),,
        razorqt-data (>= ${binary:Version}),,
        razorqt-desktop (>= ${binary:Version}),,
        razorqt-globalkeyshortcuts (>= ${binary:Version}),,
        razorqt-notificationd (>= ${binary:Version}),,
        razorqt-panel (>= ${binary:Version}),,
        razorqt-power (>= ${binary:Version}),,
        razorqt-runner (>= ${binary:Version}),,
        razorqt-session (>= ${binary:Version}),,
%if LIGHTDM yes       
        lightdm-razorqt-greeter (>= ${binary:Version}),,
%endif
%if POLKIT yes
        razorqt-policykit-agent (>= ${binary:Version}),,
%endif
        razorqt-openssh-askpass (>= ${binary:Version})
Description: Razor-qt desktop environment
 Razor-qt is an advanced, easy-to-use, and fast desktop environment
 based on Qt technologies. It has been tailored for users who value simplicity, 
 speed, and an intuitive interface. Unlike most desktop environments, 
 the Razor-qt also works fine with less powerful machines.
 .
 Razor-qt already contains the key DE components thas means as 
 each components can be used separately; the components are:
 .
 This metapackage provides all the components of Razor-qt.
  * Panel
  * Desktop Manager
  * Application Launcher
  * Settings Center
  * Session Manager
  * Key Shorcuts Manager
  * Notification Intregration
  * Power Manager
  * SSH ask password
%if POLKIT yes
  * PolicyKit Agent
%endif
%if LIGHTDM yes       
  * Display Manager component
%endif
 .
 Razor-qt works with various WMs.  Most of Razor developers use Openbox, but
 other modern WMs can be used, such as fwwm2 to kwin.

Package: razorqt-data
Architecture: all
Depends: ${misc:Depends}
Replaces: razor-qt, razor-data, razorqt-power (<< ${binary:Version})
Conflicts: razor-qt, razor-data, razorqt-power (<< ${binary:Version})
Recommends: oxygen-icon-theme
Description: shared data files for the Razor-qt
 This package contains the architecture-independent shared
 data files needed for the Razor-qt desktop environment.
 .
 This package is part of the Razor-qt.

Package: razorqt-dev
Architecture: any
Depends: librazorqt-dev
Conflicts: razor-qt
Description: Razor-qt development dummy package upgrade
 This package provides the development files for the libraries that are
 shared amongst the various components of Razor-qt.
 .
 This package is a dummy for upgrade purposes, 
 you can safety remove after installed.

Package: libqtxdg0
Section: libs
Architecture: any
%ifnot RELEASE lucid maverick lenny etch squeeze
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
%endif
Depends: ${shlibs:Depends}, ${misc:Depends}, libqt4-xml
Description: Qt implementation of the XDG Specifications
 This library implements functions of the XDG Specifications in Qt.
 .
 This package is part of the Razor-qt.

Package: libqtxdg-dev
Architecture: any
Section: libdevel
Depends: ${misc:Depends}, libqtxdg0 (= ${binary:Version})
Replaces: libqtxdg0-dev
Conflicts: libqtxdg0-dev
Description: Qt implementation of the XDG Specifications, development package
 This package provides the development files for the qtxdg library.
 This library implements functions of the XDG Specifications in Qt.
 .
 This package is part of the Razor-qt.

Package: librazorqt-dev
Architecture: any
Section: libdevel
Depends: ${shlibs:Depends}, libqtxdg-dev (= ${binary:Version})
Replaces: razor-qt, razorqt-dev, librazorqt0-dev
Conflicts: razor-qt, razorqt-dev (<< ${binary:Version}), librazorqt0-dev
Description: Razor-qt development package
 This package provides the development files for the libraries that are
 shared amongst the various components of Razor-qt.
 .
 This package is part of the Razor-qt.

Package: librazorqt0
Section: libs
Architecture: any
%ifnot RELEASE lucid maverick lenny etch squeeze
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
%endif
Depends: libqtxdg0 (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}, 
 razorqt-data (= ${source:Version})
Replaces: razor-qt
Conflicts: razor-qt
Description: Common libraries and binaries for the Razor-qt
 This package provides the libraries and binaries that are shared amongst
 the various components of Razor-qt.
 .
 Theres a razor-about application that display information about 
 the Razor-qt dekstop, including technical info.
 .
 This package is part of the Razor-qt.

Package: razorqt-appswitcher
Architecture: any
Depends: librazorqt0 (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Replaces: razor-qt, razor-appswitcher
Conflicts: razor-qt, razor-appswitcher
Description: Razor-qt window manager switcher
 Desktop Independent Alt-Tab window switcher from Razor-qt, 
 it was writen for Razor-qt but it can be used standalone as well.
 .
 This application switcher relies on window manager integration 
 and works depending on shorcut integration.
 .
 This package is part of the Razor-qt.

Package: razorqt-config
Architecture: any
Depends: librazorqt0 (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Replaces: razor-qt, razor-config
Conflicts: razor-qt, razor-config
Description: Razor-qt config tools applications
 The Razor-qt user interface for configuring the 
 aspects and aplications of the Razor-qt desktop.
 .
 This application also list configuration components 
 of other desktop enviroments components such qt-config .
 .
 This package is part of the Razor-qt.

Package: razorqt-desktop
Architecture: any
Depends: librazorqt0 (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Replaces: razor-qt, razor-desktop
Conflicts: razor-qt, razor-desktop
Description: Razor-qt desktop component
 Desktop basic component manage for Razor-qt
 .
 This package is part of the Razor-qt.

Package: razorqt-globalkeyshortcuts
Architecture: any
Depends: librazorqt0 (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: Razor-qt global keyboard shorcuts tool
 The Razor-qt global keyboard shortcuts desktop tool 
 manages the keyboard shorcuts assigned by user 
 or also default asigned by desktop. Currently could 
 no manage the key shorcuts handles by some window managers.
 .
 This package is part of the Razor-qt.

Package: razorqt-panel
Architecture: any
Depends: librazorqt0 (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Replaces: razor-qt, razor-panel
Conflicts: razor-qt, razor-panel
Description: Razor-qt desktop panel and its plugins
 Desktop Independent panel component from Razor-qt desktop.
 .
 Buil in plugins, provides a taskbar list of all opened windows, 
 icon desktop switcher, launchbar, clock, mounted devices and some more 
 for the usage of Razor-qt desktop or any other desktop.
 .
 It was writen for Razor-qt but it can be used standalone as well, 
 depending on window-manager its comunicate wiht it, 
 for actions over the window list and runing task.
 .
 This package is part of the Razor-qt.

Package: razorqt-runner
Architecture: any
Depends: librazorqt0 (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Replaces: razor-qt, razor-runner
Conflicts: razor-qt, razor-runner
Recommends: razorqt-shorcutdaemon
Description: Razor-qt quick launch and runner application
 The quick launch and runner tool for launching applications. 
 .
 Depending on window-manager razor-runner can be activated by 
 pressing the Alt + F2 key combination.
 .
 This package is part of the Razor-qt.

Package: razorqt-session
Architecture: any
Depends: librazorqt0 (= ${binary:Version}), openbox | x-window-manager,
%ifnot RELEASE lucid maverick lenny etch squeeze
 xdg-utils
%endif
 ${shlibs:Depends}, ${misc:Depends}
Replaces: razor-qt, razor-session
Conflicts: razor-qt, razor-session
Description: Razor-qt desktop session manager
 The Razor-qt session manager handles the Razor-qt desktop init, 
 and manage how Razor-qt will start, its a essencial part of 
 the Razor-qt desktop for work and manage applications startup.
 .
 This package is part of the Razor-qt.

Package: razorqt-power
Architecture: any
Depends: librazorqt0 (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Replaces: razor-qt
Conflicts: razorqt-autosuspend (<< ${binary:Version})
Description: Razor-qt power management component
 The backend power management component handles 
 basic power actions and events for the Razor-qt desktop.
 .
 This package is part of the Razor-qt.

Package: razorqt-autosuspend
Architecture: any
Depends: librazorqt0 (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Conflicts: razorqt-power (<< ${binary:Version})
Description: Razor-qt suspend manage application tool
 The frontend manage application tool for LID or power management 
 actions that relies on power manager from Razor-qt desktop.
 .
 This package is part of the Razor-qt.

Package: razorqt-notificationd
Architecture: any
Depends: librazorqt0 (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: Razor-qt notification daemon
 Desktop Independent notifications daemon from Razor-qt, 
 it was writen for Razor-qt but it can be used standalone as well.
 .
 This application relies on system tray panel integration 
 and works depending on it.
 .
 This package is part of the Razor-qt.

Package: razorqt-openssh-askpass
Architecture: any
Depends: ${shlibs:Depends},  ${misc:Depends},
  librazorqt0 (= ${binary:Version}), openssl, openssh-client, libpam-ssh
Description: Razor-Qt openssh ask password interface
 Desktop Independent ssh ask password interface from Razor-qt, 
 it was writen for Razor-qt but it can be used standalone as well.
 .
 This application relies on desktop environment integration 
 and works depending on it, for that please read README.Debian docs.
 .
 This package is part of the Razor-Qt.

%if POLKIT yes
Package: razorqt-policykit-agent
Architecture: any
Depends: ${shlibs:Depends},  ${misc:Depends},  librazorqt0 (= ${binary:Version}),
Replaces: razor-qt
Conflicts: razor-qt
Description: lightweight PolicyKit agent primarily
 Desktop Independent polkit component from Razor-Qt desktop.
 .
 A Qt based PolicyKit agent, provides a simple agent primarily 
 for the usage of Razor-qt desktop or any other desktop.
 .
 It was writen for Razor-QT DE but can be used standar alone, 
 depending on window-manager its comunicate wiht it, 
 for actions over the window list and runing task.
 .
 This package is part of the Razor-qt.
%endif

%if LIGHTDM yes
Package: lightdm-razorqt-greeter
Architecture: any
Depends: ${shlibs:Depends},  ${misc:Depends},  librazorqt0 (= ${binary:Version}),
Description: LightDM greeter that uses the Razor-qt (QT based) lib kit.
 A LightDM greeter that uses the Razor-qt QT lib kit, 
 it was writen for Razor-qt but it can be used standalone as well.
 .
 This package is part of the Razor-qt, and 
 currently its in unstable status and continuos development.
%endif
