Source: razorqt
Section: x11
Priority: optional
Maintainer: %DEBFULLNAME% <%DEBEMAIL%>
Build-Depends: debhelper (>= 7.0.50~), pkg-config,
    cmake,
    libqt4-dev (>= 4.6.0),
    libmagic-dev,
    libxrender-dev,
    libxcomposite-dev,
    libxdamage-dev,
    libudev-dev,
    libqt4-webkit | libqtwebkit4, 
    libxcursor-dev,
%ifnot RELEASE lucid maverick squeeze lenny etch
    libpolkit-agent-1-dev,
    libpolkit-qt-1-dev,
%endif
    zlib1g-dev,
    libstatgrab-dev,
    libsensors4-dev
Standards-Version: 3.9.1
Homepage: http://razor-qt.org


Package: razorqt
Architecture: all
Depends:  razorqt-appswitcher,
          razorqt-desktop,
          razorqt-panel,
          razorqt-runner,
          razorqt-config,
          razorqt-session,
%ifnot RELEASE lucid maverick squeeze lenny etch
          razorqt-policykit-agent,
%endif
          razorqt-notificationd
Description: Razor-qt desktop environment
 Razor-qt is an advanced, easy-to-use, and fast desktop environment
 based on Qt technologies. Unlike desktop environments, Razor-qt
 also works fine with weak machines.
 .
 This metapackage provides all the components of Razor-qt.


Package: razorqt-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
  libqtxdg-dev (= ${binary:Version})
Replaces: razor-qt
Conflicts: razor-qt
Description:Razor-qt development package
 This package provides the development files for the libraries that are
 shared amongst the various components of Razor-qt.
 .
 This package is part of the Razor-qt.


Package: libqtxdg0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libqt4-xml
Description:implementation of the XDG Specifications
 This library implements functions of the XDG Specifications in Qt.
 .
 This package is part of the Razor-qt.


Package: libqtxdg-dev
Architecture: any
Section: libdevel
Depends: ${misc:Depends},
  libqtxdg0 (= ${binary:Version})
Description:implementation of the XDG Specifications, development package
 This package provides the development files for the qtxdg library.
 This library implements functions of the XDG Specifications in Qt.
 .
 This package is part of the Razor-qt.


Package: librazorqt0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
  libqtxdg0 (= ${binary:Version})
Replaces: razor-qt
Conflicts: razor-qt
Description:common libraries and binaries for the Razor-qt
 This package provides the libraries and binaries that are shared amongst
 the various components of Razor-qt.
 .
 This package is part of the Razor-qt.


Package: razorqt-appswitcher
Architecture: any
Depends: ${shlibs:Depends},  ${misc:Depends},
  libqtxdg0 (= ${binary:Version}),
  librazorqt0 (= ${binary:Version})
Replaces: razor-qt, razor-appswitcher
Conflicts: razor-qt, razor-appswitcher
Description:Razor-qt window switcher
 Alt-Tab window switcher for Razor-qt.
 .
 This package is part of the Razor-qt.


Package: razorqt-desktop
Architecture: any
Depends: ${shlibs:Depends},  ${misc:Depends},
  librazorqt0 (= ${binary:Version}),
    razorqt-data (= ${source:Version})
Replaces: razor-qt, razor-desktop
Conflicts: razor-qt, razor-desktop
Description:RazorQt desktop
 Displays widgets like file icons or clock on the desktop.
 .
 This package is part of the Razor-qt.


Package: razorqt-panel
Architecture: any
Depends: ${shlibs:Depends},  ${misc:Depends},
  libqtxdg0 (= ${binary:Version}),
  librazorqt0 (= ${binary:Version}),
  razorqt-data (= ${source:Version})
Replaces: razor-qt, razor-panel
Conflicts: razor-qt, razor-panel
Description:the Razor-qt desktop environment panel
 It provides a taskbar (list of all opened windows), desktop
 switcher, launchbar, clock, etc.
 .
 This package is part of the Razor-qt.


Package: razorqt-data
Architecture: all
Replaces: razor-qt, razor-data
Conflicts: razor-qt, razor-data
Description:shared data files for the Razor-qt
 This package contains the architecture-independent shared
 data files needed for the Razor-qt desktop environment.
 .
 This package is part of the Razor-qt.


Package: razorqt-runner
Architecture: any
Depends: ${shlibs:Depends},  ${misc:Depends},
  librazorqt0 (= ${binary:Version}),
  razorqt-data (= ${source:Version})
Replaces: razor-qt, razor-runner
Conflicts: razor-qt, razor-runner
Description:An application launcher for the the Razor-qt
 razor-runner is a tool for launching applications. On most
 systems razor-runner can be activated by pressing the
 Alt + F2 key combination.
 .
 This package is part of the Razor-qt.


Package: razorqt-config
Architecture: any
Depends: ${shlibs:Depends},  ${misc:Depends},
  librazorqt0(= ${binary:Version}),
  razorqt-data (= ${source:Version})
Replaces: razor-qt, razor-config
Conflicts: razor-qt, razor-config
Description:Razor-qt config tools
 Razor-config is a user interface for configuring the other
 aspects of the Razor-qt desktop.
 .
 This package is part of the Razor-qt.


Package: razorqt-session
Architecture: any
Depends: ${shlibs:Depends},  ${misc:Depends},
  librazorqt0(= ${binary:Version}),
  razorqt-data (= ${source:Version}),
  openbox | x-window-manager
Replaces: razor-qt, razor-session
Conflicts: razor-qt, razor-session
Description:Razor-qt session manager
 .
 This package is part of the Razor-qt.


Package: razorqt-power
Architecture: any
Depends: ${shlibs:Depends},  ${misc:Depends},
  librazorqt0(= ${binary:Version}),
  razorqt-data (= ${source:Version})
Replaces: razor-qt
Conflicts: razor-qt
Description:RazorQt power management apps
 .
 This package is part of the Razor-qt.


%ifnot RELEASE lucid maverick squeeze
Package: razorqt-policykit-agent
Architecture: any
Depends: ${shlibs:Depends},  ${misc:Depends},
  librazorqt0 (= ${binary:Version}),
  razorqt-data (= ${source:Version})
Replaces: razor-qt
Conflicts: razor-qt
Description:A lightweight PolicyKit agent primarily
 writen for Razor-qt DE. But it can be used
 standalone as well.
 .
 This package is part of the Razor-qt.
%endif


Package: razorqt-notificationd
Architecture: any
Depends: ${shlibs:Depends},  ${misc:Depends},
  libqtxdg0 (= ${binary:Version}),
  librazorqt0 (= ${binary:Version})
Description:notification daemon for Razor-qt
 Own notification daemon for Razor-qt.
 .
 This app can be used as independent notification for 
 any desktop or window manager.
 .
 This package is part of the Razor-qt.