#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1


%ifnot RELEASE lucid maverick lenny etch squeeze
DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)
%endif

# the  -Wl,--as-needed will fail under lenny/etch, umm i dont care stupid winbuntu but added for razorqt happy team..
%ifnot RELEASE lucid maverick lenny etch squeeze
#export DEB_BUILD_MAINT_OPTIONS   := hardening=+all
export DEB_LDFLAGS_MAINT_APPEND  := -Wl,--as-needed
%endif
# This dont work, the cflags and cxxflags are set from qt framework, i dont remenber right now but later i'll fixed! i'm currently working on with debian oficial qt related packages
# CMake doesn't use CPPFLAGS, pass them to CFLAGS/CXXFLAGS instead (bug #662833)
#%ifnot RELEASE lucid lenny etch
#export DEB_CFLAGS_MAINT_APPEND   := -pipe -Wall $(shell dpkg-buildflags --get CPPFLAGS)
#export DEB_CXXFLAGS_MAINT_APPEND := -pipe -Wall $(shell dpkg-buildflags --get CPPFLAGS)
#%endif


%:
#	dh $@ --buildsystem=cmake --parallel
#%ifnot RELEASE lucid maverick lenny etch
	dh $@ --buildsystem=cmake
#%endif
# This dont work, due lenny and etch type must have debhelper from backports so its nonsense!
#%if RELEASE lucid maverick lenny etch
#	dh $@
#%endif

%ifnot RELEASE lucid maverick lenny etch squeeze
override_dh_auto_configure:
	dh_auto_configure -- -DLIB_SUFFIX="/$(DEB_HOST_MULTIARCH)"
override_dh_makeshlibs:
	dh_makeshlibs -X/usr/lib/$(DEB_HOST_MULTIARCH)/razor-desktop
%endif

# we need this for see changes in files installing over razorqt updates
override_dh_install:
	dh_install --list-missing --sourcedir=debian/tmp
