[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Application menu
Comment=A menu of all your applications.

#TRANSLATIONS_DIR=../translations


# Translations
Comment[it_IT]=Avviatore delle applicazioni basato su menu
Name[it_IT]=Menu delle applicazioni
