[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Application menu
Comment=A menu of all your applications.

#TRANSLATIONS_DIR=../translations


# Translations
Comment[el_GR]=Μενού εκκίνησης εφαρμογών
Name[el_GR]=Μενού εφαρμογών
