[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Application menu
Comment=Menu based application launcher

#TRANSLATIONS_DIR=../translations


# Translations
Comment[nl]=Menu-gebasseerde applicatie starter
Name[nl]=Applicatie menu
