[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Application menu
Comment=Menu based application launcher

#TRANSLATIONS_DIR=../translations


# Translations
Comment[sr]=Мени покретача програма
Name[sr]=Мени програма
