[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Application menu
Comment=A menu of all your applications.

#TRANSLATIONS_DIR=../translations


# Translations
Comment[es_MX]=Menu de todas tus aplicaciones
Name[es_MX]=Menu de aplicación
