[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Application menu
Comment=A menu of all your applications.

#TRANSLATIONS_DIR=../translations


# Translations
Comment[cs_CZ]=Spouštěč programů založený na nabídce
Name[cs_CZ]=Nabídka programů
