[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Application menu
Comment=A menu of all your applications.

#TRANSLATIONS_DIR=../translations


# Translations
Comment[fr_FR]=Lanceur d'application sous forme de menu
Name[fr_FR]=Menu d'application
