[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Application menu
Comment=Menu based application launcher

#TRANSLATIONS_DIR=../translations


# Translations
Comment[fi]=Valikkopohjainen sovelluskäynnistin
Name[fi]=Sovellusvalikko
