[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Application menu
Comment=A menu of all your applications.

#TRANSLATIONS_DIR=../translations


# Translations
Comment[th_TH]=ปุ่มเรียกโปรแกรมพื้นฐานทางเมนู
Name[th_TH]=เมนูโปรแกรม
