[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Clock
Comment=Clock and calendar
Name[de]=Uhr
Comment[de]=Uhr und Kalender

Name[es]=Reloj
Comment[es]=Reloj y calendario

Name[hu]=Óra
Comment[hu]=Óra és naptár

Name[pl]=Zegar
Comment[pl]=Zegar oraz kalendarz

Name[ru]=Часы
Comment[ru]=Часы и календарь

Name[sk]=Hodiny
Comment[sk]=Hodiny a kalendár
