[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Clock
Name[ru]=Часы
Name[pl]=Zegar
Name[es]=Reloj
Name[hu]=Óra
Name[de]=Uhr
Comment=Clock and calendar
Comment[ru]=Часы и календарь
Comment[pl]=Zegar oraz kalendarz
Comment[es]=Reloj y calendario
Comment[hu]=Óra és naptár
Comment[de]=Uhr und Kalender