[Desktop Entry]
X-SuSE-translate=true
OnlyShowIn=X-RAZOR;
Type=Application
Exec=razor-config
Terminal=false
Categories=Settings;DesktopSettings;Qt;X-RAZOR;
Icon=package_settings
Name=Razor Configuration Center
Comment=Configure Razor-Qt modules
GenericName=Razor Configuration

Name[ru]=Центр настроек Razor
Comment[ru]=Центр настроек для модулей Razor-Qt
GenericName[ru]=Центр настроек Razor

Name[pl]=Panel sterowania Razor
Comment[pl]=Wszystkie ustawienia Razor-Qt
GenericName[pl]=Panel sterowania Razor

Name[es]=Centro de Configuración Razor
Comment[es]=Configura módulos de Razor-Qt
GenericName[es]=Configuración Razor

Name[hu]=Razor beállítóközpont
Comment[hu]=A Razor-Qt modulok beállítása
GenericName[hu]=Razor beállítóközpont

