[Desktop Entry]
X-SuSE-translate=true
OnlyShowIn=X-RAZOR;
Type=Application
Exec=razor-config
Terminal=false
Categories=Settings;DesktopSettings;Qt;X-RAZOR;
Icon=package_settings
Name=Razor Configuration Center
Comment=Configure Razor-Qt modules
GenericName=Razor Configuration

Name[ru]=Центр настроек Razor
Comment[ru]=Центр настроек для модулей Razor-Qt
GenericName[ru]=Центр настроек Razor
