[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin

Name=Network Monitor
Comment=Network Monitor




# Translations
Comment[ja]=ネットワークモニタ
Name[ja]=ネットワークモニタ
