[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin

Name=Network monitor
Comment=Displays network status and activity.




# Translations
Comment[ru]=Показывает активность и статус сети
Name[ru]=Сетевой Монитор
