[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin

Name=Network monitor
Comment=Displays network status and activity.




# Translations
Comment[pl_PL]=Konfiguracja wyglądu Razor
Name[pl_PL]=Środowisko graficzne Qt4
