[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin

Name=Network Monitor
Comment=Network Monitor




# Translations
Comment[de_DE]=Anwendungsmenü
Name[de_DE]=Menü-basierter Anwendungsstarter
