[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin

Name=Network monitor
Comment=Displays network status and activity.




# Translations
Comment[hu]=Alkalmazásmenü
Name[hu]=Alkalmazásindító alapú menü
