[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin

Name=Network monitor
Comment=Displays network status and activity.




# Translations
Comment[de]=Razor Konfigurations Center
Name[de]=Bildschirm Notizblock
