[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin

Name=Network monitor
Comment=Displays network status and activity.




# Translations
Comment[es_MX]=Mostrar estado y actividad de la red
Name[es_MX]=Monitor de Red
