[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin

Name=Network monitor
Comment=Displays network status and activity.




# Translations
Comment[zh_CN]=qxkb
Name[zh_CN]=屏幕记事本
