[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin

Name=Network Monitor
Comment=Network Monitor




# Translations
Comment[es]=Administrador de tareas
Name[es]=Entorno de escritorio Qt4
