[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin

Name=Network Monitor
Comment=Network Monitor




# Translations
Comment[nl]=Notepad
Name[nl]=Scherm notepad
