[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin

Name=Network Monitor
Comment=Network Monitor




# Translations
Comment[sr@latin]=Automatsko suspendovanje
Name[sr@latin]=Meni pokretača programa
