[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin

Name=Network Monitor
Comment=Network Monitor




# Translations
Comment[el_GR]=Επόπτης δικτύου
Name[el_GR]=Επόπτης δικτύου
