[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin

Name=Network Monitor
Comment=Network Monitor




# Translations
Comment[es_VE]=Monitor de red
Name[es_VE]=Monitor de red
