[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin

Name=Network monitor
Comment=Displays network status and activity.




# Translations
Comment[da_DK]=Netværksovervågning
Name[da_DK]=Netværksovervågning
