[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin

Name=Network monitor
Comment=Displays network status and activity.




# Translations
Comment[eo]=Agordoj de muso por Razoro
Name[eo]=Agordi X11-muson
