[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin

Name=Network monitor
Comment=Displays network status and activity.




# Translations
Comment[id_ID]=Hell World
Name[id_ID]=Sebuah Plugin "hello world".
