[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin

Name=Network Monitor
Comment=Network Monitor




# Translations
Comment[de]=Razor Konfigurations Center
Name[de]=Bildschirm Notizblock
