[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin

Name=Network Monitor
Comment=Network Monitor




# Translations
Comment[ar]=قائمة التطبيقات
Name[ar]=تهيئة وحدة جلسة ريزركيوت
