[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin

Name=Network monitor
Comment=Displays network status and activity.




# Translations
Comment[gl]=Mostra o estado e actividade da conexión á rede.
Name[gl]=Monitor de rede
