[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin

Name=Network Monitor
Comment=Network Monitor




# Translations
Comment[eo]=Agordoj de muso por Razoro
Name[eo]=Agordi X11-muson
