[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin

Name=Network Monitor
Comment=Network Monitor




# Translations
Comment[pt_BR]=Suspender Automaticamente
Name[pt_BR]=Ambiente De Trabalho Qt4
