[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin

Name=Network monitor
Comment=Displays network status and activity.




# Translations
Comment[it_IT]=Visualizza lo stato e l'attività della rete.
Name[it_IT]=Monitor di rete
