[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin

Name=Network Monitor
Comment=Network Monitor




# Translations
Comment[zh_CN]=qxkb
Name[zh_CN]=屏幕记事本
