[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin

Name=Network Monitor
Comment=Network Monitor




# Translations
Comment[hu]=Alkalmazásmenü
Name[hu]=Alkalmazásindító alapú menü
