[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin

Name=Network monitor
Comment=Displays network status and activity.




# Translations
Comment[fr]=Affiche l'état et l'activité du réseau.
Name[fr]=Surveillance du réseau
