[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin

Name=Network monitor
Comment=Displays network status and activity.




# Translations
Comment[ro_RO]=Părăsește
Name[ro_RO]=Lansează aplicațiile favorite
