[Desktop Entry]
Type=Service
ServiceTypes=RazorDesktop/Plugin
Name=Hello World
Comment=Display rich text on the screen

#TRANSLATIONS_DIR=../translations


# Translations
Comment[eu]=Bistaratu testu aberastua pantailan
Name[eu]=Kaixo mundua
