[Desktop Entry]
Type=Service
ServiceTypes=RazorDesktop/Plugin
Name=Hello World
Comment=Display rich text on the screen

#TRANSLATIONS_DIR=../translations


# Translations
Comment[es_VE]=Mostrar texto enriquecido en pantalla
Name[es_VE]=Hola Mundo
