[Desktop Entry]
Type=Service
ServiceTypes=RazorDesktop/Plugin
Name=Hello World
Comment=Display rich text on the screen

#TRANSLATIONS_DIR=../translations


# Translations
Comment[fi]=Näytä tekstiä näytöllä
Name[fi]=Hei maailma!
