[Desktop Entry]
Type=Service
ServiceTypes=RazorDesktop/Plugin
Name=Hello World
Comment=Display rich text on the screen

#TRANSLATIONS_DIR=../translations


# Translations
Comment[hu]=Üdvözlő szöveg megjelenítése a képernyőn
Name[hu]=Hello világ!
