[Desktop Entry]
Type=Service
ServiceTypes=RazorDesktop/Plugin
Name=Hello World
Comment=Display rich text on the screen

#TRANSLATIONS_DIR=../translations


# Translations
Comment[pl_PL]=Wyświetlaj wzbogacony format tekstowy na ekranie
Name[pl_PL]=Witaj świecie
