[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Removable media
Comment=Easy mounting and unmounting of USB and optical drives.

#TRANSLATIONS_DIR=../translations


# Translations
Comment[it_IT]=Gestore dei dispositivi rimovibili (USB, CD, DVD, ...)
Name[it_IT]=Dispositivi rimovibili
