[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Removable media
Comment=Easy mounting and unmounting of USB and optical drives.

#TRANSLATIONS_DIR=../translations


# Translations
Comment[lt]=Pašalinimų įrenginių tvarkymas (USB, CD, DVD, ...)
Name[lt]=Pašalinami įrenginiai
