[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Removable media
Comment=Removable media handler (USB, CD, DVD, ...)

#TRANSLATIONS_DIR=../translations


# Translations
Comment[sr@latin]=Rukovaoc uklonjivim medijima (USB, CD, DVD...)
Name[sr@latin]=Uklonjivi mediji
