[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Removable media
Comment=Removable media handler (USB, CD, DVD, ...)

#TRANSLATIONS_DIR=../translations


# Translations
Comment[es_VE]=Manejador de dispositivos removibles (USB, DVD, CAM, ..)
Name[es_VE]=Dispositivos
