[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Removable media
Comment=Removable media handler (USB, CD, DVD, ...)

#TRANSLATIONS_DIR=../translations


# Translations
Comment[de_DE]=Wechseldatenträger (USB, CD, DVD, ...)
Name[de_DE]=Entfernbare Wechseldatenträger
