[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Removable media
Comment=Removable media handler (USB, CD, DVD, ...)

#TRANSLATIONS_DIR=../translations


# Translations
Comment[da_DK]=Håndtering af flytbare enheder (USB, CD, DVD, ...)
Name[da_DK]=Flytbare enheder
