[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Removable media
Comment=Easy mounting and unmounting of USB and optical drives.

#TRANSLATIONS_DIR=../translations


# Translations
Comment[th_TH]=อำนวยความสะดวกการเมาท์และเลิกเมาท์ USB รวมถึงอุปกรณ์อ่านแผ่น
Name[th_TH]=สื่อที่สามารถถอดเสียบได้
