[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Removable media
Comment=Easy mounting and unmounting of USB and optical drives.

#TRANSLATIONS_DIR=../translations


# Translations
Comment[he]=עגינה וחילוץ של USB ותקליטים אופטיים ביתר קלות.
Name[he]=מדיה ברת הזזה
