[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Removable media
Comment=Easy mounting and unmounting of USB and optical drives.

#TRANSLATIONS_DIR=../translations


# Translations
Comment[de_DE]=Wechseldatenträger (USB, CD, DVD, ...)
Name[de_DE]=Entfernbare Wechseldatenträger
