[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Removable media
Comment=Removable media handler (USB, CD, DVD, ...)

#TRANSLATIONS_DIR=../translations


# Translations
Comment[cs]=Správa odstranitelných zařízení (USB, CD, DVD, ...)
Name[cs]=Správce zařízení
