[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Removable media
Comment=Removable media handler (USB, CD, DVD, ...)

#TRANSLATIONS_DIR=../translations


# Translations
Comment[pl]=Menedżer urządzeń (USB, CD, DVD, ...)
Name[pl]=Menedżer urządzeń
