[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Removable media
Comment=Easy mounting and unmounting of USB and optical drives.

#TRANSLATIONS_DIR=../translations


# Translations
Comment[el_GR]=Διαχείριση αφαιρούμενων μέσων (USB, CD, DVD, ...)
Name[el_GR]=Αφαιρούμενα μέσα
