[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Removable media
Comment=Removable media handler (USB, CD, DVD, ...)

#TRANSLATIONS_DIR=../translations


# Translations
Comment[th_TH]=ตัวจัดการสื่อที่สามารถถอดเสียบได้ (USB, CD, DVD, ...)
Name[th_TH]=สื่อที่สามารถถอดเสียบได้
