[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Removable media
Comment=Removable media handler (USB, CD, DVD, ...)

#TRANSLATIONS_DIR=../translations


# Translations
Comment[fi]=Irrotettavien laitteiden ja medioiden käsittelijä (USB, CD, DVD...)
Name[fi]=Irrotettavat laitteet ja mediat
