[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Removable media
Comment=Easy mounting and unmounting of USB and optical drives.

#TRANSLATIONS_DIR=../translations


# Translations
Comment[pl]=Menedżer urządzeń (USB, CD, DVD, ...)
Name[pl]=Menedżer urządzeń
