[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Removable media
Comment=Removable media handler (USB, CD, DVD, ...)

#TRANSLATIONS_DIR=../translations


# Translations
Comment[it_IT]=Gestore dei dispositivi rimovibili (USB, CD, DVD, ...)
Name[it_IT]=Dispositivi rimovibili
