[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Removable media
Comment=Easy mounting and unmounting of USB and optical drives.

#TRANSLATIONS_DIR=../translations


# Translations
Comment[ja]=リムーバルメディアハンドラー(USB, CD, DVD, ...)
Name[ja]=リムーバルメディア
