[Desktop Entry]
X-SuSE-translate=true
OnlyShowIn=X-RAZOR;
Type=Application
Exec=razor-config-mouse
Terminal=false
Categories=Settings;DesktopSettings;Qt;X-RAZOR;
Icon=preferences-desktop-mouse
Name=Razor Mouse Configurator
Comment=Configure X11 mouse
GenericName=Razor Mouse Configurator

Name[es]=Configuración de Ratón Razor
Comment[es]=Configura un ratón X11
GenericName[es]=Configuración de Ratón Razor

Name[it]=Impostazioni Mouse Razor
Comment[it]=Configura il mouse di Razor
GenericName[it]=Impostazioni Mouse Razor

Name[hu]=Razor egérbeállító
Comment[hu]=Az X11 egér beállítása
GenericName[hu]=Razor egérbeállító

Name[de]=Razor Maus konfiguration
Comment[de]=Konfiguration der X11 Maus
GenericName[de]=Razor Maus konfiguration

Name[pl]=Ustawienia myszy Razor-Qt
Comment[pl]=Konfiguracja myszy w Razor-Qt
GenericName[pl]=Ustawuenua myszy Razor-Qt

Name[ru]=Настройки мыши
Comment[ru]=Настройки мыши для Razor-Qt
GenericName[ru]=Настройки мыши

Name[sk]=Nastavenie myši
Comment[sk]=Nastavenie myši X11 prostredia Razor-Qt
GenericName[sk]=Nastavenie myši

Name[cs]=Nastavení myši
Comment[cs]=Nastavení myši
GenericName[cs]=Nastavení myši

Name[da]=Indstilling af Razor Mus
Comment[da]=Indstilling af X11 mus
GenericName[da]=Indstilling af Razor Mus
