[Desktop Entry]
X-SuSE-translate=true
OnlyShowIn=RAZOR;
Type=Application
Exec=razor-config-mouse
Terminal=false
Categories=Settings;DesktopSettings;X-SuSE-DesktopUtility;
Icon=preferences-desktop-mouse
Name=Razor Mouse Theme Configurator
Comment=Configure X11 mouse theme
GenericName=Razor Mouse Theme Configurator
