[Desktop Entry]
X-SuSE-translate=true
OnlyShowIn=RAZOR
Encoding=UTF-8
Type=Application
Exec=razor-config-mouse
Terminal=false
Type=Application
Categories=Settings;DesktopSettings;X-SuSE-DesktopUtility;
Icon=preferences-desktop-mouse
Name=Razor Mouse Theme Configurator
Comment=Configure X11 mouse theme
GenericName=Razor Mouse Theme Configurator
