[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Desktop switcher
Comment=Allows easy switching between virtual desktops.

#TRANSLATIONS_DIR=../translations


# Translations
Comment[pl_PL]=Zezwól na przełączanie między pulpitami
Name[pl_PL]=Zmień pulpit
