[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Desktopswitch
Comment=Allow to switch virtual desktops

#TRANSLATIONS_DIR=../translations


# Translations
Comment[es]=Permite cambiar entre escritorios virtuales
Name[es]=Cambiador de escritorios
