[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Desktop switcher
Comment=Allows easy switching between virtual desktops.

#TRANSLATIONS_DIR=../translations


# Translations
Comment[es]=Permite cambiar entre escritorios virtuales
Name[es]=Cambiador de escritorios
