[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Desktopswitch
Comment=Allow to switch virtual desktops

#TRANSLATIONS_DIR=../translations


# Translations
Comment[ja]=仮想デスクトップの切り替えを許可
Name[ja]=デスクトップ切り替え
