[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Desktop switcher
Comment=Allows easy switching between virtual desktops.

#TRANSLATIONS_DIR=../translations


# Translations
Comment[ru]=Позволяет переключатся между виртуальными рабочими столами
Name[ru]=Переключатель рабочих столов
