[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Desktop switcher
Comment=Allows easy switching between virtual desktops.

#TRANSLATIONS_DIR=../translations


# Translations
Comment[de]=Erlaubt es zwichen den virtuellen Arbeitsflächen zu schalten
Name[de]=Arbeitsflächenumschalter
