[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Desktop switcher
Comment=Allows easy switching between virtual desktops.

#TRANSLATIONS_DIR=../translations


# Translations
Comment[pl]=Pozwala przełączać się pomiędzy writualnymi pulpitami
Name[pl]=Obszary robocze
