[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Desktopswitch
Comment=Allow to switch virtual desktops

#TRANSLATIONS_DIR=../translations


# Translations
Comment[cs_CZ]=Povolit přepínání virtuálních pracovních ploch
Name[cs_CZ]=Přepínání pracovních ploch
