[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Desktopswitch
Comment=Allow to switch virtual desktops

#TRANSLATIONS_DIR=../translations


# Translations
Comment[pl]=Pozwala przełączać się pomiędzy writualnymi pulpitami
Name[pl]=Obszary robocze
