[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Desktop switcher
Comment=Allows easy switching between virtual desktops.

#TRANSLATIONS_DIR=../translations


# Translations
Comment[ru_RU]=Разрешить переключение виртуальных рабочих столов
Name[ru_RU]=Переключение рабочих столов
