[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Desktop switcher
Comment=Allows easy switching between virtual desktops.

#TRANSLATIONS_DIR=../translations


# Translations
Comment[es_VE]=Permitir cambiar a escritorios virtuales
Name[es_VE]=Cambiador de Escritorios
