[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Desktopswitch
Comment=Allow to switch virtual desktops

#TRANSLATIONS_DIR=../translations


# Translations
Comment[da_DK]=Skift imellem virtuelle skriveborde
Name[da_DK]=Skrivebords Skifter
