[Desktop Entry]
OnlyShowIn=X-RAZOR;
Type=Application
Exec=qtconfig
TryExec=qtconfig
Terminal=false
Categories=Settings;DesktopSettings;Qt;X-RAZOR;
Name=Qt Configuration
Comment=Configure Qt
GenericName=Qt configuration

#TRANSLATIONS_DIR=translations


# Translations
Comment[ro_RO]=Configurează Qt
GenericName[ro_RO]=Configurație Qt
Name[ro_RO]=Configurație Qt
