[Desktop Entry]
OnlyShowIn=X-RAZOR;
Type=Application
Exec=qtconfig
TryExec=qtconfig
Terminal=false
Categories=Settings;DesktopSettings;Qt;X-RAZOR;
Name=Qt Configuration
Comment=Configure Qt
GenericName=Qt configuration

#TRANSLATIONS_DIR=translations


# Translations
Comment[it_IT]=Configura Qt
GenericName[it_IT]=Configurazione Qt
Name[it_IT]=Configurazione Qt
