[Desktop Entry]
OnlyShowIn=X-RAZOR;
Type=Application
Exec=qtconfig
TryExec=qtconfig
Terminal=false
Categories=Settings;DesktopSettings;Qt;X-RAZOR;
Name=Qt Configuration
Comment=Configure Qt
GenericName=Qt configuration

#TRANSLATIONS_DIR=translations


# Translations
Comment[zh_TW]=設定Qt
GenericName[zh_TW]=Qt設定
Name[zh_TW]=Qt設定
