[Desktop Entry]
X-SuSE-translate=true
OnlyShowIn=Razor;
Type=Application
Exec=razor-config-mouse
Terminal=false
Categories=Settings;DesktopSettings;Qt;Razor;
Icon=preferences-desktop-mouse
Name=Razor Mouse Configurator
Comment=Configure X11 mouse
GenericName=Razor Mouse Configurator

#TRANSLATIONS_DIR=translations


# Translations
Comment[ru_RU]=Настроить мышь X11
GenericName[ru_RU]=Razor Настройки мыши
Name[ru_RU]=Razor Настройки мыши
Icon[ru_RU]=Десктоп-настройки мыши
