[Desktop Entry]
X-SuSE-translate=true
OnlyShowIn=X-RAZOR;
Type=Application
Exec=razor-config-mouse
Terminal=false
Categories=Settings;DesktopSettings;Qt;X-RAZOR;
Icon=preferences-desktop-mouse
Name=Razor Mouse Configurator
Comment=Configure X11 mouse
GenericName=Razor Mouse Configurator

#TRANSLATIONS_DIR=translations


# Translations
Comment[el_GR]=Διαμόρφωση ποντικιού X11
GenericName[el_GR]=Διαμόρφωση ποντικιού Razor
Name[el_GR]=Διαμόρφωση ποντικιού Razor
Icon[el_GR]=preferences-desktop-mouse
