[Desktop Entry]
X-SuSE-translate=true
OnlyShowIn=Razor;
Type=Application
Exec=razor-config-mouse
Terminal=false
Categories=Settings;DesktopSettings;Qt;Razor;
Icon=preferences-desktop-mouse
Name=Razor Mouse Configurator
Comment=Configure X11 mouse
GenericName=Razor Mouse Configurator

#TRANSLATIONS_DIR=translations


# Translations
Comment[tr]=X11 faresini yapılandır
GenericName[tr]=Razor Fare Yapılandırıcı
Name[tr]=Razor Fare Yapılandırıcı
Icon[tr]=preferences-desktop-mouse
