[Desktop Entry]
X-SuSE-translate=true
OnlyShowIn=Razor;
Type=Application
Exec=razor-config-mouse
Terminal=false
Categories=Settings;DesktopSettings;Qt;Razor;
Icon=preferences-desktop-mouse
Name=Razor Mouse Configurator
Comment=Configure X11 mouse
GenericName=Razor Mouse Configurator

#TRANSLATIONS_DIR=translations


# Translations
Comment[uk]=Налаштувати мишу X11
GenericName[uk]=Налаштування миші Razor
Name[uk]=Налаштування миші Razor
Icon[uk]=preferences-desktop-mouse
