[Desktop Entry]
X-SuSE-translate=true
OnlyShowIn=Razor;
Type=Application
Exec=razor-config-mouse
Terminal=false
Categories=Settings;DesktopSettings;Qt;Razor;
Icon=preferences-desktop-mouse
Name=Razor Mouse Configurator
Comment=Configure X11 mouse
GenericName=Razor Mouse Configurator

#TRANSLATIONS_DIR=translations


# Translations
Comment[fi]=Hallitse X11-pohjaisen hiiren asetuksia
GenericName[fi]=Razorin hiiriasetukset
Name[fi]=Razorin hiiriasetukset
Icon[fi]=asetukset-työpöytä-hiiri
