[Desktop Entry]
X-SuSE-translate=true
OnlyShowIn=Razor;
Type=Application
Exec=razor-config-mouse
Terminal=false
Categories=Settings;DesktopSettings;Qt;Razor;
Icon=preferences-desktop-mouse
Name=Razor Mouse Configurator
Comment=Configure X11 mouse
GenericName=Razor Mouse Configurator

#TRANSLATIONS_DIR=translations


# Translations
Comment[eo]=Agordi X11-muson
GenericName[eo]=Agordoj de muso por Razoro
Name[eo]=Agordoj de muso por Razoro
Icon[eo]=preferences-desktop-mouse
