[Desktop Entry]
X-SuSE-translate=true
OnlyShowIn=Razor;
Type=Application
Exec=razor-config-mouse
Terminal=false
Categories=Settings;DesktopSettings;Qt;Razor;
Icon=preferences-desktop-mouse
Name=Razor Mouse Configurator
Comment=Configure X11 mouse
GenericName=Razor Mouse Configurator

#TRANSLATIONS_DIR=translations


# Translations
Comment[th_TH]=ปรับแต่งเมาส์ X11
GenericName[th_TH]=ปรับแต่งเมาส์ Razor
Name[th_TH]=ปรับแต่งเมาส์ Razor
Icon[th_TH]=ค่าปรับแต่ง -เดสก์ท็อป-เมาส์
