[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Hell World
Comment=A "hello world" plugin.

#TRANSLATIONS_DIR=../translations


# Translations
Comment[ar]=بريمج ملحق "مرحباً أيها العالم"
Name[ar]=مرحباً أيها العالم
