[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Hello World
Comment=A "hello world" plugin.

#TRANSLATIONS_DIR=../translations


# Translations
Comment[gl]=Un engadido "Olá Mundo!".
Name[gl]=Olá Mundo!
