[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Hello World
Comment=A "hello world" plugin.

#TRANSLATIONS_DIR=../translations


# Translations
Comment[pt]=Extra "Olá mundo"
Name[pt]=Olá mundo
