[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Hell World
Comment=A "hello world" plugin.

#TRANSLATIONS_DIR=../translations


# Translations
Comment[fr_FR]=Une extension "Hello World".
Name[fr_FR]=Hello World
