[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Hell World
Comment=A "hello world" plugin.

#TRANSLATIONS_DIR=../translations


# Translations
Comment[cs_CZ]=Přídavný modul Lodi ahóoj.
Name[cs_CZ]=Lodi ahóoj
