[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Hello World
Comment=A "hello world" plugin.

#TRANSLATIONS_DIR=../translations


# Translations
Comment[pt_BR]=Um plug-in de "olá mundo".
Name[pt_BR]=Olá mundo
