[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Hell World
Comment=A "hello world" plugin.

#TRANSLATIONS_DIR=../translations


# Translations
Comment[zh_TW]=一個"世界，你好:D"的範例外掛
Name[zh_TW]=世界，你好:D
