[Desktop Entry]
Type=Application
Exec=razor-about
Icon=help-about
Terminal=false
OnlyShowIn=Razor;
Categories=Qt;System;Razor;DesktopSettings;Settings;
Name=About Razor
GenericName=Learn more about Razor-qt

#TRANSLATIONS_DIR=../translations


# Translations
GenericName[de_DE]=Mehr über Razor-qt erfahren
Name[de_DE]=Über Razor
Icon[de_DE]=Hilfe-Über
