[Desktop Entry]
Type=Application
Exec=razor-about
Icon=help-about
Terminal=false
OnlyShowIn=X-RAZOR;
Categories=Qt;System;X-RAZOR;DesktopSettings;Settings;
Name=About Razor
GenericName=Learn more about Razor-qt

#TRANSLATIONS_DIR=../translations


# Translations
GenericName[es_VE]=Mas acerca de Razor-qt
Name[es_VE]=Acerca de Razor
Icon[es_VE]=help-about
