[Desktop Entry]
Type=Application
Exec=razor-about
Icon=help-about
Terminal=false
OnlyShowIn=X-RAZOR;
Categories=Qt;System;X-RAZOR;DesktopSettings;Settings;
Name=About Razor
GenericName=Learn more about Razor-qt

#TRANSLATIONS_DIR=../translations


# Translations
GenericName[ro_RO]=Informații suplimentare despre Razor-qt
Name[ro_RO]=Despre Razor
Icon[ro_RO]=help-about
