[Desktop Entry]
Type=Application
Exec=razor-power
Icon=system-shutdown
Terminal=false
OnlyShowIn=Razor;
Categories=Qt;System;Razor;
Name=Leave
GenericName=Leave the system

#TRANSLATIONS_DIR=../translations


# Translations
GenericName[de_DE]=System verlassen
Name[de_DE]=Verlassen
Icon[de_DE]=System herunterfahren
