[Desktop Entry]
Type=Application
Exec=razor-power
Icon=system-shutdown
Terminal=false
OnlyShowIn=X-RAZOR;
Categories=Qt;System;X-RAZOR;
Name=Leave
GenericName=Leave the system

#TRANSLATIONS_DIR=../translations


# Translations
GenericName[ro_RO]=Părăsește sistemul
Name[ro_RO]=Părăsește
