[Desktop Entry]
Type=Application
Exec=razor-power
Icon=system-shutdown
Terminal=false
OnlyShowIn=Razor;
Categories=Qt;System;Razor;
Name=Leave
GenericName=Leave the system

#TRANSLATIONS_DIR=../translations


# Translations
GenericName[ja]=システムの終了
Name[ja]=終了
Icon[ja]=シャットダウン
