[Desktop Entry]
Type=Application
Exec=razor-power
Icon=system-shutdown
Terminal=false
OnlyShowIn=X-RAZOR;
Categories=Qt;System;X-RAZOR;
Name=Leave
GenericName=Leave the system

#TRANSLATIONS_DIR=../translations


# Translations
GenericName[el_GR]=Έξοδος από το σύστημα
Name[el_GR]=Έξοδος
Icon[el_GR]=system-shutdown
