[Desktop Entry]
Type=Application
Exec=razor-power
Icon=system-shutdown
Terminal=false
OnlyShowIn=Razor;
Categories=Qt;System;Razor;
Name=Leave
GenericName=Leave the system

#TRANSLATIONS_DIR=../translations


# Translations
GenericName[pt_BR]=Sair do sistema
Name[pt_BR]=Sair
Icon[pt_BR]=system-shutdown
