[Desktop Entry]
Type=Application
Exec=razor-power
Icon=system-shutdown
Terminal=false
OnlyShowIn=Razor;
Categories=Qt;System;Razor;
Name=Leave
GenericName=Leave the system

#TRANSLATIONS_DIR=../translations


# Translations
GenericName[th_TH]=จบการทำงาน
Name[th_TH]=ออก
Icon[th_TH]=ปิดเครื่อง
