[Desktop Entry]
Type=Application
Exec=razor-power
Icon=system-shutdown
Terminal=false
OnlyShowIn=Razor;
Categories=Qt;System;Razor;
Name=Leave
GenericName=Leave the system

#TRANSLATIONS_DIR=../translations


# Translations
GenericName[sl]=Zapusti sistem
Name[sl]=Zapusti
Icon[sl]=system-shutdown
