[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Quicklaunch
Name[ru]=Панель запуска
Name[pl]=Szybkie uruchamianie
Name[es]=Lanzador rápido
Comment=Launch your favorite Applications
Comment[ru]=Панель с избранными программами
Comment[pl]=Uruchamiaj Twoje ulubione aplikacje
Comment[es]=Lanze sus aplicaciones favoritas
