[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Quicklaunch
Comment=Launch your favorite Applications

Name[de]=Schnellstarter
Comment[de]=Starten Sie Ihre lieblings Anwendungen

Name[es]=Lanzador rápido
Comment[es]=Lanze sus aplicaciones favoritas

Name[hu]=Gyorsindító
Comment[hu]=A kedvenc alkalmazásainak indítása

Name[pl]=Szybkie uruchamianie
Comment[pl]=Uruchamiaj Twoje ulubione aplikacje

Name[ru]=Панель запуска
Comment[ru]=Панель с избранными программами

Name[sk]=Rýchle spustenie
Comment[sk]=Spúšťanie vašich obľúbených aplikácií

