[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Quicklaunch
Comment=Launch your favorite Applications

Name[pl]=Szybkie uruchamianie
Comment[pl]=Uruchamiaj Twoje ulubione aplikacje

Name[ru]=Панель запуска
Comment[ru]=Панель с избранными программами

Name[sk]=Rýchle spustenie
Comment[sk]=Spúšťanie vašich obľúbených aplikácií
