[Desktop Entry]
Type=Service
ServiceTypes=RazorDesktop/Plugin
Name=Icon View
Comment=Display content (as icons) of the specified directory

#TRANSLATIONS_DIR=../translations


# Translations
Comment[th_TH]=แสดงเนื้อหา(แบบไอคอน)เฉพาะไดเรกทอรีที่ระบุ
Name[th_TH]=มุมมองไอคอน
