[Desktop Entry]
Type=Service
ServiceTypes=RazorDesktop/Plugin
Name=Icon View
Comment=Display content (as icons) of the specified directory

#TRANSLATIONS_DIR=../translations


# Translations
Comment[es_MX]=Mostrar contenido (como iconos) del directorio especificado
Name[es_MX]=Vista de Iconos
