[Desktop Entry]
Type=Service
ServiceTypes=RazorDesktop/Plugin
Name=Icon View
Comment=Display content (as icons) of the specified directory

#TRANSLATIONS_DIR=../translations


# Translations
Comment[ru_RU]=Показать содержимое указанной папки (в виде значков)
Name[ru_RU]=В виде значков
