[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Color picker
Comment=Get the color under the cursor. For web developers.


# Translations
Comment[cs_CZ]=Dostaňte barvu pod ukazovátkem. Pro vývojáře webu.
Name[cs_CZ]=Volič barev
