[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Color picker
Comment=Get the color under the cursor. For web developers.


# Translations
Comment[fr]=Obtenir la couleur sous le curseur. Pour les développeurs Web.
Name[fr]=Sélecteur de couleur
