[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Color picker
Comment=Get the color under the cursor. For web developers.


# Translations
Comment[pl_PL]=Otrzymaj kolor z pod kursora. Dla webdeveloperów. 
Name[pl_PL]=Wybieracz kolorów
