[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Color picker
Comment=Get the color under the cursor. For web developers.


# Translations
Comment[gl]=Escolle a cor por debaixo do cursor. Para desenvolvedores web.
Name[gl]=Selector de cores
