[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Color picker
Comment=Get the color under the cursor. For web developers.


# Translations
Comment[da_DK]=Find farven under musemarkøren. For webudviklere.
Name[da_DK]=Farvevælger
