[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Color picker
Comment=Get the color under the cursor. For web developers.


# Translations
Comment[lt]=Nustatyti po pele esančią spalvą. Skirta internetinių puslapių kūrėjams.
Name[lt]=Spalvų parinkiklis
