[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Color picker
Comment=Get the color under the cursor. For web developers.


# Translations
Comment[es]=Obtiene el color bajo el cursor. Para desarrolladores web.
Name[es]=Selector de color
