[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Color picker
Comment=Get the color under the cursor. For web developers.


# Translations
Comment[el_GR]=Λήψη του χρώματος κάτω από τον δείκτη. Για σχεδιαστές ιστοσελίδων.
Name[el_GR]=Επιλογέας χρωμάτων
