[Desktop Entry]
Type=Service
ServiceTypes=RazorDesktop/Plugin
Name=Clock
Comment=Clock

#TRANSLATIONS_DIR=../translations


# Translations
Comment[zh_CN]=时钟
Name[zh_CN]=时钟
