[Desktop Entry]
Type=Service
ServiceTypes=RazorDesktop/Plugin
Name=Clock
Comment=Clock

#TRANSLATIONS_DIR=../translations


# Translations
Comment[th_TH]=นาฬิกา
Name[th_TH]=นาฬิกา
