[Desktop Entry]
Type=Service
ServiceTypes=RazorDesktop/Plugin
Name=Clock
Comment=Clock

#TRANSLATIONS_DIR=../translations


# Translations
Comment[sl]=Ura
Name[sl]=Ura
