[Desktop Entry]
Type=Service
ServiceTypes=RazorDesktop/Plugin
Name=Clock
Comment=Clock

#TRANSLATIONS_DIR=../translations


# Translations
Comment[fr_FR]=Horloge
Name[fr_FR]=Horloge
