[Desktop Entry]
Type=Service
ServiceTypes=RazorDesktop/Plugin
Name=Clock
Comment=Clock

#TRANSLATIONS_DIR=../translations


# Translations
Comment[da_DK]=Ur
Name[da_DK]=Ur
