[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Show Desktop
Comment=Minimize all windows and show the desktop

#TRANSLATIONS_DIR=../translations


# Translations
Comment[cs_CZ]=Zmenšit všechna okna a ukázat pracovní plochu
Name[cs_CZ]=Ukázat pracovní plochu
