[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Show desktop
Comment=Minimize all windows and show the desktop

#TRANSLATIONS_DIR=../translations


# Translations
Comment[ru_RU]=Свернуть все окна и показать рабочий стол
Name[ru_RU]=Показать рабочий стол
