[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Show Desktop
Comment=Minimize all windows and show the desktop

#TRANSLATIONS_DIR=../translations


# Translations
Comment[hu]=Minimalizálja az összes ablakot és megjeleníti az asztalt
Name[hu]=Az asztal megjelenítése
