[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Show Desktop
Comment=Minimize all windows and show the desktop

#TRANSLATIONS_DIR=../translations


# Translations
Comment[it_IT]=Minimizza tutte le finestre e mostra il desktop
Name[it_IT]=Mostra il desktop
