[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Show desktop
Comment=Minimize all windows and show the desktop

#TRANSLATIONS_DIR=../translations


# Translations
Comment[nl]=Minimaliseer alle vensters en toon het bureaublad
Name[nl]=Toon Bureaublad
