[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Show Desktop
Comment=Minimize all windows and show the desktop

#TRANSLATIONS_DIR=../translations


# Translations
Comment[sk]=Minimalizuje všetky okná a zobrazí plochu
Name[sk]=Zobraziť plochu
