[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Show desktop
Comment=Minimize all windows and show the desktop

#TRANSLATIONS_DIR=../translations


# Translations
Comment[he]=מזער את כל החלונות והצג את שולחן העבודה
Name[he]=הצג שולחן עבודה
