[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Show Desktop
Comment=Minimize all windows and show the desktop

#TRANSLATIONS_DIR=../translations


# Translations
Comment[ar]=تصغير كافَّة النَّوافذ وإظهار سطح المكتب
Name[ar]=إظهار سطح المكتب
