[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Show desktop
Comment=Minimize all windows and show the desktop

#TRANSLATIONS_DIR=../translations


# Translations
Comment[cs]=Zmenšit všechna okna a ukázat plochu
Name[cs]=Ukázat plochu
