[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Show desktop
Comment=Minimize all windows and show the desktop

#TRANSLATIONS_DIR=../translations


# Translations
Comment[pl_PL]=Minimalizuj wszystkie okna i pokaż pulpit
Name[pl_PL]=Pokaż Pulpit
