[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Date & time
Comment=Displays the current time. Comes with a calendar.

#TRANSLATIONS_DIR=../translations


# Translations
Comment[ru_RU]=Часы и календарь
Name[ru_RU]=Часы
