[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Clock
Comment=Clock and calendar

#TRANSLATIONS_DIR=../translations


# Translations
Comment[zh_TW]=時鐘與日曆
Name[zh_TW]=時鐘
