[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Clock
Comment=Clock and calendar

#TRANSLATIONS_DIR=../translations


# Translations
Comment[ru]=Часы и календарь
Name[ru]=Часы
