[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Date & time
Comment=Displays the current time. Comes with a calendar.

#TRANSLATIONS_DIR=../translations


# Translations
Comment[it_IT]=Visualizza l'ora attuale. Include un calendario.
Name[it_IT]=Data e ora
