[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Date & time
Comment=Displays the current time. Comes with a calendar.

#TRANSLATIONS_DIR=../translations


# Translations
Comment[th_TH]=แสดงเวลาปัจจุบันพร้อมปฏิทิน
Name[th_TH]=วันที่และเวลา
