[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Clock
Comment=Clock and calendar

#TRANSLATIONS_DIR=../translations


# Translations
Comment[pt]=Relógio e calendário
Name[pt]=Relógio
