[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Clock
Comment=Clock and calendar

#TRANSLATIONS_DIR=../translations


# Translations
Comment[cs_CZ]=Hodiny a kalendář
Name[cs_CZ]=Hodiny
