[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Date & time
Comment=Displays the current time. Comes with a calendar.

#TRANSLATIONS_DIR=../translations


# Translations
Comment[zh_TW]=時鐘與日曆
Name[zh_TW]=時鐘
