Dialog {}

#panel {
    background-color: #121212;
    border: 1px solid #4a4a4a;
}

#closeButton {
  qproperty-icon: url(razor-runner/close-48x48.png);
}

#closeButton:hover {
    border: 1px solid #4a4a4a;
    border-radius: 3px;
}

#commandList {
    border: none;
    margin: 0 1px 1px 1px;
}
