Name[sr@ijekavianlatin]=Podešavanje radne površi Rejzora
Comment[sr@ijekavianlatin]=Podesite Rejzorov modul radne površi
GenericName[sr@ijekavianlatin]=Podešavanje radne površi
