[Desktop Entry]
X-SuSE-translate=true
OnlyShowIn=X-RAZOR;
Type=Application
Exec=razor-config-notificationd
Terminal=false
Categories=Settings;DesktopSettings;Qt;X-RAZOR;
Icon=preferences-desktop-theme
Name=Razor Freedesktop Notifications Configuration
Comment=Configure freedesktop notifications in Razor desktop
GenericName=Razor Freedesktop Notifications Configuration

#TRANSLATIONS_DIR=translations


# Translations
GenericName[it_IT]=Configurazione delle notifiche Freedesktop di Razor
Name[it_IT]=Configurazione delle notifiche Freedesktop di Razor
Icon[it_IT]=preferences-desktop-theme
Comment[it_IT]=Configura le notifiche Freedesktop nel desktop Razor
