[Desktop Entry]
X-SuSE-translate=true
OnlyShowIn=X-RAZOR;
Type=Application
Exec=razor-config-notificationd
Terminal=false
Categories=Settings;DesktopSettings;Qt;X-RAZOR;
Icon=preferences-desktop-theme
Name=Razor Freedesktop Notifications Configuration
Comment=Configure freedesktop notifications in Razor desktop
GenericName=Razor Freedesktop Notifications Configuration

#TRANSLATIONS_DIR=translations


# Translations
GenericName[fr_FR]=Bloc-notes
Name[fr_FR]=Paramétreur de session Razor
Icon[fr_FR]=préférences-bureau-thème
Comment[fr_FR]=Configurer les notifications « freedesktop » dans le bureau Razor
