[Desktop Entry]
X-SuSE-translate=true
OnlyShowIn=X-RAZOR;
Type=Application
Exec=razor-config-notificationd
Terminal=false
Categories=Settings;DesktopSettings;Qt;X-RAZOR;
Icon=preferences-desktop-theme
Name=Razor Freedesktop Notifications Configuration
Comment=Configure freedesktop notifications in Razor desktop
GenericName=Razor Freedesktop Notifications Configuration

#TRANSLATIONS_DIR=translations


# Translations
GenericName[ru]=Настройка уведомлений Freedesktop
Name[ru]=Настройка уведомлений Freedesktop
Icon[ru]=preferences-desktop-theme
Comment[ru]=Настроить уведомления freedesktop для рабочего стола Razor
