[Desktop Entry]
X-SuSE-translate=true
OnlyShowIn=X-RAZOR;
Type=Application
Exec=razor-config-notificationd
Terminal=false
Categories=Settings;DesktopSettings;Qt;X-RAZOR;
Icon=preferences-desktop-theme
Name=Razor Freedesktop Notifications Configuration
Comment=Configure freedesktop notifications in Razor desktop
GenericName=Razor Freedesktop Notifications Configuration

#TRANSLATIONS_DIR=translations


# Translations
GenericName[pt_BR]=Suspender Automaticamente
Name[pt_BR]=Gerenciamento de energia
Icon[pt_BR]=preferences-desktop-theme
Comment[pt_BR]=Configurar as notificações do freedesktop na área de trabalho do Razor
