[Desktop Entry]
X-SuSE-translate=true
OnlyShowIn=Razor;
Type=Application
Exec=razor-config-notificationd
Terminal=false
Categories=Settings;DesktopSettings;Qt;Razor;
Icon=preferences-desktop-theme
Name=Razor Freedesktop Notifications Configuration
Comment=Configure freedesktop notifications in Razor desktop
GenericName=Razor Freedesktop Notifications Configuration

#TRANSLATIONS_DIR=translations


# Translations
GenericName[it_IT]=Esci
Name[it_IT]=Esci dal sistema
Icon[it_IT]=preferences-desktop-theme
Comment[it_IT]=Configura le notifiche freedesktop nel desktop Razor
