[Desktop Entry]
X-SuSE-translate=true
OnlyShowIn=X-RAZOR;
Type=Application
Exec=razor-config-notificationd
Terminal=false
Categories=Settings;DesktopSettings;Qt;X-RAZOR;
Icon=preferences-desktop-theme
Name=Razor Freedesktop Notifications Configuration
Comment=Configure freedesktop notifications in Razor desktop
GenericName=Razor Freedesktop Notifications Configuration

#TRANSLATIONS_DIR=translations


# Translations
GenericName[zh_TW]=Razor通知設定
Name[zh_TW]=Razor通知設定
Icon[zh_TW]=偏好桌面主題
Comment[zh_TW]=Razor桌面上的FreeDesktop通知設定
