[Desktop Entry]
X-SuSE-translate=true
OnlyShowIn=Razor;
Type=Application
Exec=razor-config-notificationd
Terminal=false
Categories=Settings;DesktopSettings;Qt;Razor;
Icon=preferences-desktop-theme
Name=Razor Freedesktop Notifications Configuration
Comment=Configure freedesktop notifications in Razor desktop
GenericName=Razor Freedesktop Notifications Configuration

#TRANSLATIONS_DIR=translations


# Translations
GenericName[fi]=Razor-työpöydän ilmoitusasetukset
Name[fi]=Razor-työpöydän ilmoitusasetukset
Icon[fi]=asetukset-työpöytä-teema
Comment[fi]=Muokkaa Razor-työpöydän ilmoituksia
