[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Volume control
Comment=Control the system's volume and launch your preferred mixer.

#TRANSLATIONS_DIR=../translations


# Translations
Comment[ru_RU]=Контролирует громкость звука в системе и запускает предпочтительный миксер.
Name[ru_RU]=Регулятор громкости
