[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Volume control
Comment=Control the system's volume and launch your preferred mixer.

#TRANSLATIONS_DIR=../translations


# Translations
Comment[pt]=Controlar o volume do sistema e iniciar o gestor de som
Name[pt]=Controlo de volume
