[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Volume control
Comment=Control the system's volume and launch your preferred mixer.

#TRANSLATIONS_DIR=../translations


# Translations
Comment[he]=שלוט על עוצמת שמע מערכת ושגר את המערבל המועדף עליך.
Name[he]=בקרת שמע
