[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Volume control
Comment=Control the system's volume and launch your preferred mixer.

#TRANSLATIONS_DIR=../translations


# Translations
Comment[it_IT]=Controlla il volume del sistema e avvia il tuo mixer preferito.
Name[it_IT]=Controllo del volume
