[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Volume control
Comment=Control the system's volume and launch your preferred mixer.

#TRANSLATIONS_DIR=../translations


# Translations
Comment[el_GR]=Ελέγξτε την ένταση ήχου του συστήματος και ξεκινήστε τον προτιμώμενο μίκτη.
Name[el_GR]=Έλεγχος έντασης ήχου
