[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Volume control
Comment=Control the system's volume and launch your preferred mixer.

#TRANSLATIONS_DIR=../translations


# Translations
Comment[ja]=システムの音量調整のため、好みに設定されたミキサーを起動する。
Name[ja]=音量調整
