[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Volume control
Comment=Control the system's volume and launch your preferred mixer.

#TRANSLATIONS_DIR=../translations


# Translations
Comment[de_DE]=Regele die Systemlautstärke und starte bevorzugten Mixer.
Name[de_DE]=Lautstärken Regelung
