[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin

Name=Cpu monitor
Comment=Displays the current CPU load.




# Translations
Comment[pt]=Monitor de carga do cpu
Name[pt]=Carga do cpu
