[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin

Name=Cpu monitor
Comment=Displays the current CPU load.




# Translations
Comment[pl_PL]=Monitor obciążenia CPU
Name[pl_PL]=Obciążenie CPU
