[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin

Name=Cpu monitor
Comment=Displays the current CPU load.




# Translations
Comment[cs_CZ]=Sledování zatížení procesoru
Name[cs_CZ]=Zatížení procesoru
