[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin

Name=Cpu monitor
Comment=Displays the current CPU load.




# Translations
Comment[da_DK]=CPU Overvågning
Name[da_DK]=CPU Belastning

