[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin

Name=Cpu monitor
Comment=Displays the current CPU load.




# Translations
Comment[fr]=Affichage la charge actuelle de l'UCT
Name[fr]=Moniteur de l'UCT
