[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin

Name=Cpu Load
Comment=Cpu Load monitor




# Translations
Comment[pt_BR]=Monitor de carga da CPU
Name[pt_BR]=Carga da CPU
