[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin

Name=Cpu monitor
Comment=Displays the current CPU load.




# Translations
Comment[it_IT]=Monitor del carico del processore
Name[it_IT]=Carico del processore
