[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin

Name=Cpu Load
Comment=Cpu Load monitor




# Translations
Comment[ru_RU]=Монитор загрузки процессора
Name[ru_RU]=Загрузка процесора
