[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin

Name=Cpu Load
Comment=Cpu Load monitor




# Translations
Comment[tr]=İşlemci Yükü izleyici
Name[tr]=İşlemci Yükü
