[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin

Name=Cpu Load
Comment=Cpu Load monitor




# Translations
Comment[cs_CZ]=Sledování zatížení procesoru
Name[cs_CZ]=Zatížení procesoru
