[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin

Name=Cpu Load
Comment=Cpu Load monitor




# Translations
Comment[th_TH]=เฝ้าสังเกตการทำงานซีพียู
Name[th_TH]=การทำงานซีพียู
