[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin

Name=Cpu Load
Comment=Cpu Load monitor




# Translations
Comment[lt]=Procesoriaus stebėtojas
Name[lt]=Procesoriaus apkrova
