[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin

Name=Cpu monitor
Comment=Displays the current CPU load.




# Translations
Comment[es_MX]=Mostrar la carga actual del CPU
Name[es_MX]=Monitor de CPU
