[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin

Name=Cpu monitor
Comment=Displays the current CPU load.




# Translations
Comment[ia]=On monstra le carga de CPU currente.
Name[ia]=Monitor de CPU
