[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin

Name=Cpu monitor
Comment=Displays the current CPU load.




# Translations
Comment[sv]=Visa aktuell CPU-belastning.
Name[sv]=CPU-övervakare
