[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin

Name=Cpu monitor
Comment=Displays the current CPU load.




# Translations
Comment[el_GR]=Εμφανίζει την τρέχουσα χρήση ΚΜΕ.
Name[el_GR]=Επόπτης ΚΜΕ
