[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin

Name=Cpu monitor
Comment=Displays the current CPU load.




# Translations
Comment[it_IT]=Visualizza il carico attuale del processore
Name[it_IT]=Monitor del processore
