[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin

Name=Cpu Load
Comment=Cpu Load monitor




# Translations
Comment[el_GR]=Επόπτης χρήσης CPU
Name[el_GR]=Χρήση CPU
