[Desktop Entry]
Type=Application
Exec=razor-autosuspend
Icon=razor-autosuspend.svg
Terminal=false
OnlyShowIn=X-RAZOR;
Categories=Qt;System;X-RAZOR;
Name=Razor autosuspend
GenericName=Power management
