[Desktop Entry]
Type=Application
Exec=razor-autosuspend
Icon=razor-autosuspend
Terminal=false
Categories=Qt;System;X-RAZOR;
Name=Razor autosuspend
GenericName=Power management

Name[da]=Automatisk slumrefunktionalitet
GenericName[da]=Strømstyring
