[Desktop Entry]
Type=Application
Exec=razor-config-autosuspend
Icon=razor-autosuspend
Terminal=false
OnlyShowIn=X-RAZOR;
Categories=Settings;DesktopSettings;Qt;X-RAZOR;
Name=Razor Autosuspend Configuration
GenericName=Razor Autosuspend Configuration
#TRANSLATIONS_DIR=translations


# Translations
GenericName[de_DE]=Razor Autosuspend Konfiguration
Name[de_DE]=Razor Autosuspend Konfiguration
Icon[de_DE]=razor-autosuspend
