[Desktop Entry]
Type=Application
Exec=razor-config-autosuspend
Icon=razor-autosuspend
Terminal=false
OnlyShowIn=Razor;
Categories=Settings;DesktopSettings;Qt;Razor;
Name=Razor Autosuspend Configuration
GenericName=Razor Autosuspend Configuration
#TRANSLATIONS_DIR=translations


# Translations
GenericName[uk]=Налаштування автоматичного призупинення Razor
Name[uk]=Налаштування автоматичного призупинення Razor
Icon[uk]=razor-autosuspend
