[Desktop Entry]
Type=Application
Exec=razor-config-autosuspend
Icon=razor-autosuspend
Terminal=false
OnlyShowIn=X-RAZOR;
Categories=Settings;DesktopSettings;Qt;X-RAZOR;
Name=Razor Autosuspend Configuration
GenericName=Razor Autosuspend Configuration
#TRANSLATIONS_DIR=translations


# Translations
GenericName[ja]=Razor自動停止の設定
Name[ja]=Razor自動停止の設定
Icon[ja]=razor自動停止
