[Desktop Entry]
Type=Application
Exec=razor-config-autosuspend
Icon=razor-autosuspend
Terminal=false
OnlyShowIn=Razor;
Categories=Settings;DesktopSettings;Qt;Razor;
Name=Razor Autosuspend Configuration
GenericName=Razor Autosuspend Configuration
#TRANSLATIONS_DIR=translations


# Translations
GenericName[cs_CZ]=Nastavení automatického uspání
Name[cs_CZ]=Nastavení automatického uspání
Icon[cs_CZ]=Automatické uspání
