[Desktop Entry]
Type=Application
Exec=razor-config-autosuspend
Icon=razor-autosuspend
Terminal=false
OnlyShowIn=X-RAZOR;
Categories=Settings;DesktopSettings;Qt;X-RAZOR;
Name=Razor Autosuspend Configuration
GenericName=Razor Autosuspend Configuration
#TRANSLATIONS_DIR=translations


# Translations
GenericName[pt_BR]=Configuração De Suspensão Automática
Name[pt_BR]=Configuração De Suspensão Automática
Icon[pt_BR]=razor-suspensão automática
