[Desktop Entry]
Type=Application
Exec=razor-config-autosuspend
Icon=razor-autosuspend
Terminal=false
OnlyShowIn=Razor;
Categories=Settings;DesktopSettings;Qt;Razor;
Name=Razor Autosuspend Configuration
GenericName=Razor Autosuspend Configuration
#TRANSLATIONS_DIR=translations


# Translations
GenericName[ru]= Pa3op авто-приостановка конфигураций
Name[ru]=Pa3op авто-приостановка конфигураций
Icon[ru]=Pa3op авто-приостановка
