[Desktop Entry]
Type=Application
Exec=razor-config-autosuspend
Icon=razor-autosuspend
Terminal=false
OnlyShowIn=Razor;
Categories=Settings;DesktopSettings;Qt;Razor;
Name=Razor Autosuspend Configuration
GenericName=Razor Autosuspend Configuration
#TRANSLATIONS_DIR=translations


# Translations
GenericName[pt]=Configurações de suspensão automática do Razor 
Name[pt]=Configurações de suspensão automática do Razor 
Icon[pt]=razor-autosuspend
