[Desktop Entry]
Type=Application
Exec=razor-config-autosuspend
Icon=razor-autosuspend
Terminal=false
OnlyShowIn=Razor;
Categories=Settings;DesktopSettings;Qt;Razor;
Name=Razor Autosuspend Configuration
GenericName=Razor Autosuspend Configuration
#TRANSLATIONS_DIR=translations


# Translations
GenericName[pl_PL]=Konfiguracja autouśpienia Razor
Name[pl_PL]=Konfiguracja autouśpienia Razor
Icon[pl_PL]=razor-autouśpienie
