[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin

Name=Screensaver
Comment=Activate a screensaver and/or lock the screen

Name[es]=Salvapantallas
Comment[es]=Activa el salvapantallas y/o bloquea la pantalla

Name[hu]=Képernyővédő
Comment[hu]=A képernyővédő aktiválása és/vagy a képernyő zárolása

Name[pl]=Wygaszacz ekranu
Comment[pl]=Aktywuje wygaszacz ekranu oraz/albo blokuje ekran

Name[ru]=Хранитель экрана
Comment[ru]=Вклучение хранителя экрана и блокировка его

Name[sk]=Šetrič obrazovky
Comment[sk]=Aktivovanie šetriča obrazovky alebo zamknutia obrazovky

Name[de]=Bildschirmschoner
Comment[de]=Aktiviere einen Bildschirmschoner und/oder sperre den Bildschirm

Name[cs]=Šetřič obrazovky
Comment[cs]=Zapne šetřič obrazovky a/nebo zamkne obrazovku

Name[da]=Pauseskærm
Comment[da]=Aktiverer en pauseskærm og/eller låser skærmen

Name[zh_TW]=螢幕保護程式
Comment[zh_TW]=啟動螢幕保護程式並/或鎖上螢幕

Name[sr]=Чувар екрана
Name[sr@ijekavian]=Чувар екрана
Name[sr@latin]=Čuvar ekrana
Name[sr@ijekavianlatin]=Čuvar ekrana
Comment[sr]=Активирајте чувара екрана и/или закључајте екран
Comment[sr@ijekavian]=Активирајте чувара екрана и/или закључајте екран
Comment[sr@latin]=Aktivirajte čuvara ekrana i/ili zaključajte ekran
Comment[sr@ijekavianlatin]=Aktivirajte čuvara ekrana i/ili zaključajte ekran
