[Desktop Entry]
Type=Application
Version=1.0
Name=XScreenSaver
TryExec=xscreensaver
Exec=xscreensaver
OnlyShowIn=Razor;

Name[da]=Pauseskærm
Comment[da]=Pauseskærm til XWindow
GenericName[da]=Pauseskærm
