[Desktop Entry]
Type=Application
Name=qxkb
Name[sr]=КјуИксКБ
Name[sr@ijekavian]=КјуИксКБ
Name[sr@latin]=QXKB
Name[sr@ijekavianlatin]=QXKB
TryExec=qxkb
Exec=qxkb
OnlyShowIn=Razor;

Name[zh_TW]=鍵盤操作
Comment[zh_TW]=鍵盤輸出切換器
GenericName[zh_TW]=鍵盤操作

Name[da]=Tastaturhåndtering
Comment[da]=Håndtering af tastaturindstillinger
GenericName[da]=Tastaturhåndtering
