[Desktop Entry]
Type=Application
Name=PtBatterySystemTray
TryExec=ptbatterysystemtray
Exec=ptbatterysystemtray
OnlyShowIn=Razor;

Name[da]=Systembakke Batteritilstand
Comment[da]=Viser batteritilstand fra systembakke
GenericName[da]=Systembakke Batteritilstand
