[Desktop Entry]
Type=Application
Name=qxkb
TryExec=qxkb
Exec=qxkb
OnlyShowIn=Razor;

Name[da]=Tastaturhåndtering
Comment[da]=Håndtering af tastaturindstillinger
GenericName[da]=Tastaturhåndtering
