[Desktop Entry]
Type=Application
Name=QStarDict
TryExec=qstardict
Exec=qstardict
OnlyShowIn=Razor;

Name[zh_TW]=星際譯王-Qt版
Comment[zh_TW]=Qt版本的翻譯軟體
GenericName[zh_TW]=星際譯王-Qt版

Name[da]=QStarDict
Comment[da]=Qt4 version af StarDict-ordbogen
GenericName[da]=QStarDict
