QWidget {
    border-radius: 5px;
}

QComboBox,
QPushButton {
    border: 1px solid silver;
    background-color: rgb(200, 200, 200);
}

QComboBox::drop-down {
    border: none;
    width: 24px;
}

QComboBox::down-arrow {
    image: url(dropdown.svg);
}

#leaveButton {
    qproperty-iconSize: 25px;
    qproperty-icon: url(leaveIcon.svg);
}
