[Desktop Entry]
Type=Service
ServiceTypes=RazorDesktop/Plugin
Name=Notepad
Comment=Screen notepad

#TRANSLATIONS_DIR=../translations


# Translations
Comment[es_MX]=Bloc de notas en pantalla
Name[es_MX]=Bloc de notas
