[Desktop Entry]
Type=Service
ServiceTypes=RazorDesktop/Plugin
Name=Notepad
Comment=Screen notepad

#TRANSLATIONS_DIR=../translations


# Translations
Comment[de]=Bildschirm Notizblock
Name[de]=Notizblock
