[Desktop Entry]
Type=Service
ServiceTypes=RazorDesktop/Plugin
Name=Notepad
Comment=Screen notepad

#TRANSLATIONS_DIR=../translations


# Translations
Comment[zh_TW]=螢幕記事本
Name[zh_TW]=記事本
