[Desktop Entry]
Type=Service
ServiceTypes=RazorDesktop/Plugin
Name=Notepad
Comment=Screen notepad

#TRANSLATIONS_DIR=../translations


# Translations
Comment[pt_BR]=Tela do bloco de notas
Name[pt_BR]=Bloco de notas
