[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Task Manager
Comment=Switch between running applications

#TRANSLATIONS_DIR=../translations


# Translations
Comment[pl]=Przełączaj się pomiędzy otwartymi aplikacjami
Name[pl]=Pasek zadań
