[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Task manager
Comment=Switch between running applications

#TRANSLATIONS_DIR=../translations


# Translations
Comment[cs_CZ]=Přepínat mezi běžícími programy
Name[cs_CZ]=Správce úkolů
