[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Task manager
Comment=Switch between running applications

#TRANSLATIONS_DIR=../translations


# Translations
Comment[gl]=Cambiar entre aplicativos que están en execución
Name[gl]=Xestor de tarefas
