[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Task Manager
Comment=Switch between running applications

#TRANSLATIONS_DIR=../translations


# Translations
Comment[ru_RU]=Переключиться между запущенными приложениями
Name[ru_RU]=Диспетчер задач
