[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Task Manager
Comment=Switch between running applications

#TRANSLATIONS_DIR=../translations


# Translations
Comment[fr_FR]=Basculer entre des applications actives
Name[fr_FR]=Gestionnaire des tâches
