[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Task manager
Comment=Switch between running applications

#TRANSLATIONS_DIR=../translations


# Translations
Comment[da]=Skifter imellem kørende programmer
Name[da]=Programadministrator
