[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Task manager
Comment=Switch between running applications

#TRANSLATIONS_DIR=../translations


# Translations
Comment[it_IT]=Permette di accedere alle applicazioni in esecuzione
Name[it_IT]=Gestore dei processi
