[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Task manager
Comment=Switch between running applications

#TRANSLATIONS_DIR=../translations


# Translations
Comment[es_MX]=Cambiar entre las aplicaciones en ejecución
Name[es_MX]=Administrador de tareas
