[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Task Manager
Comment=Switch between running applications

#TRANSLATIONS_DIR=../translations


# Translations
Comment[ar]=التبديل بين التطبيقات الجارية
Name[ar]=مدير المهامّ
