[Desktop Entry]
X-SuSE-translate=true
OnlyShowIn=Razor;
Type=Application
Exec=razor-config-globalkeyshortcuts
Terminal=false
Categories=Settings;DesktopSettings;Qt;Razor;
Icon=preferences-desktop-keyboard
Name=Razor Shortcut Configuration
Comment=Configure global shortcut of Razor desktop
GenericName=Razor Global Shortcut Configuration

#TRANSLATIONS_DIR=translations


# Translations
Name[de_DE]=Razor Hotkey Konfiguration
Icon[de_DE]=einstellungen-desktop-tastatur
Comment[de_DE]=Globalen Hotkey für Razor Desktop definieren
GenericName[de_DE]=Razor Globale Hotkey Konfiguration
