[Desktop Entry]
X-SuSE-translate=true
OnlyShowIn=X-RAZOR;
Type=Application
Exec=razor-config-globalkeyshortcuts
Terminal=false
Categories=Settings;DesktopSettings;Qt;X-RAZOR;
Icon=preferences-desktop-keyboard
Name=Razor Shortcut Configuration
Comment=Configure global shortcut of Razor desktop
GenericName=Razor Global Shortcut Configuration

#TRANSLATIONS_DIR=translations


# Translations
Name[th_TH]=ตั้งค่าปุ่มลัดเรเซอร์
Icon[th_TH]=ค่าปรับแต่ง-โต๊ะงาน-แป้นพิมพ์
Comment[th_TH]=ตั้งค่าปุ่มลัดหลักของโต๊ะงานเรเซอร์
GenericName[th_TH]=ตั้งค่าปุ่มลัดหลักเรเซอร์
