[Desktop Entry]
X-SuSE-translate=true
OnlyShowIn=Razor;
Type=Application
Exec=razor-config-globalkeyshortcuts
Terminal=false
Categories=Settings;DesktopSettings;Qt;Razor;
Icon=preferences-desktop-keyboard
Name=Razor Shortcut Configuration
Comment=Configure global shortcut of Razor desktop
GenericName=Razor Global Shortcut Configuration

#TRANSLATIONS_DIR=translations


# Translations
Name[pt]=Configuração dos atalhos do Razor
Icon[pt]=preferences-desktop-keyboard
Comment[pt]=Configurar os atalhos globais do Razor-qt
GenericName[pt]=Configuração dos atalhos globais do Razor-qt
