[Desktop Entry]
X-SuSE-translate=true
OnlyShowIn=X-RAZOR;
Type=Application
Exec=razor-config-globalkeyshortcuts
Terminal=false
Categories=Settings;DesktopSettings;Qt;X-RAZOR;
Icon=preferences-desktop-keyboard
Name=Razor Shortcut Configuration
Comment=Configure global shortcut of Razor desktop
GenericName=Razor Global Shortcut Configuration

#TRANSLATIONS_DIR=translations


# Translations
Name[th_TH]=การตั้งค่าปุ่มลัด Razor
Icon[th_TH]=การปรับแต่ง-เดสก์ท็อป-แป้นพิมพ์
Comment[th_TH]=ตั้งค่าปุ่มลัดหลักของ Razor เดกส์ท็อป
GenericName[th_TH]=การตั้งค่าปุ่มลัดหลัก Razor
