[Desktop Entry]
X-SuSE-translate=true
OnlyShowIn=Razor;
Type=Application
Exec=razor-config-globalkeyshortcuts
Terminal=false
Categories=Settings;DesktopSettings;Qt;Razor;
Icon=preferences-desktop-keyboard
Name=Razor Shortcut Configuration
Comment=Configure global shortcut of Razor desktop
GenericName=Razor Global Shortcut Configuration

#TRANSLATIONS_DIR=translations


# Translations
Name[es]=Configuración de Atajos de Razor
Icon[es]=preferencias-escritorio-teclado
Comment[es]=Configure atajos globales del Escritorio de Razor
GenericName[es]=Configuración de Atajos Globales de Razor
