[Desktop Entry]
X-SuSE-translate=true
OnlyShowIn=X-RAZOR;
Type=Application
Exec=razor-config-globalkeyshortcuts
Terminal=false
Categories=Settings;DesktopSettings;Qt;X-RAZOR;
Icon=preferences-desktop-keyboard
Name=Razor Shortcut Configuration
Comment=Configure global shortcut of Razor desktop
GenericName=Razor Global Shortcut Configuration

#TRANSLATIONS_DIR=translations


# Translations
Name[gl]=Configuración dos atallos de Razor
Icon[gl]=preferencias-escritorio-teclado
Comment[gl]=Configurar os atallos globais do escritorio Razor
GenericName[gl]=Configuración dos atallos globais de Razor
