[Desktop Entry]
X-SuSE-translate=true
OnlyShowIn=Razor;
Type=Application
Exec=razor-config-globalkeyshortcuts
Terminal=false
Categories=Settings;DesktopSettings;Qt;Razor;
Icon=preferences-desktop-keyboard
Name=Razor Shortcut Configuration
Comment=Configure global shortcut of Razor desktop
GenericName=Razor Global Shortcut Configuration

#TRANSLATIONS_DIR=translations


# Translations
Name[ro_RO]=Configurație acceleratori Razor
Icon[ro_RO]=preferences-desktop-keyboard
Comment[ro_RO]=Configurează acceleratorii globali pentru Razor
GenericName[ro_RO]=Configurație acceleratori globali Razor
