[Desktop Entry]
Encoding=UTF-8
Type=XSession
Exec=razor-session -w openbox
TryExec=openbox

Name=Razor Desktop (openbox)
Comment=Qt4 Desktop Environment

Name[pl]=Pulpit Razor (openbox)
Comment[pl]=Środowisko graficzne Qt4

Name[ru]=Рабочий стол Razor (openbox)
Comment[ru]=Рабочий стол на Qt

Name[sk]=Prostredie Razor (openbox)
Comment[sk]=Pracovné prostredie v Qt4
