[Desktop Entry]
Encoding=UTF-8
Type=XSession
Exec=razor-session

Name=Razor Desktop
Comment=Qt4 Desktop

Name[es]=Escritorio Razor
Comment[es]=Escritorio Qt4

Name[hu]=Razor asztal
Comment[hu]=Qt4 asztali környezet

Name[pl]=Pulpit Razor
Comment[pl]=Pulpit Qt4

Name[ru]=Рабочий стол Razor
Comment[ru]=Рабочий стол  на Qt

Name[sk]=Prostredie Razor
Comment[sk]=Pracovné prostredie v Qt4

Name[cs]=Plocha Razor
Comment[cs]=Pracovní plocha na Qt4

Name[da]=Razor-Qt Desktop
Comment[da]=Qt4 Desktop Environment

Name[zh_TW]=Razor桌面
Comment[zh_TW]=Qt4的輕量級桌面環境

Name[sr]=Рејзорова радна површ
Name[sr@ijekavian]=Рејзорова радна површ
Name[sr@latin]=Rejzorova radna površ
Name[sr@ijekavianlatin]=Rejzorova radna površ
Comment[sr]=Кјут4 радна површ
Comment[sr@ijekavian]=Кјут4 радна површ
Comment[sr@latin]=Qt4 radna površ
Comment[sr@ijekavianlatin]=Qt4 radna površ
