[Desktop Entry]
Encoding=UTF-8
Type=XSession
Exec=razor-session -w kwin
TryExec=kwin

Name=Razor Desktop (kwin)
Comment=Qt4 Desktop Environment

Name[ru]=Рабочий стол Razor (kwin)
Comment[ru]=Рабочий стол на Qt

Name[pl]=Pulpit Razor (kwin)
Comment[pl]=Środowisko graficzne Qt4

Name[es]=Razor Escritorio (kwin)
Comment[es]=Entorno de Escritorio Qt4
