[Desktop Entry]
Encoding=UTF-8
Type=XSession
Exec=razor-session -w sawfish
TryExec=sawfish

Name=Razor Desktop (sawfish)
Comment=Qt4 Desktop Environment

Name[es]=Razor Escritorio (sawfish)
Comment[es]=Entorno de Escritorio Qt4

Name[hu]=Razor asztal (sawfish)
Comment[hu]=Qt4 asztali környezet

Name[pl]=Pulpit Razor (sawfish)
Comment[pl]=Środowisko graficzne Qt4

Name[ru]=Рабочий стол Razor (sawfish)
Comment[ru]=Рабочий стол на Qt

Name[sk]=Prostredie Razor (sawfish)
Comment[sk]=Pracovné prostredie v Qt4

Name[cs]=Plocha Razor (sawfish)
Comment[cs]=Prostředí pracovní plochy na Qt4

Name[da]=Razor Desktop (sawfish)
Comment[da]=Qt4 Desktop Environment

Name[zh_TW]=Razor桌面(sawfish)
Comment[zh_TW]=Qt4的輕量級桌面環境

Name[sr]=Рејзорова радна површ (Софиш)
Name[sr@ijekavian]=Рејзорова радна површ (Софиш)
Name[sr@latin]=Rejzorova radna površ (Sofiš)
Name[sr@ijekavianlatin]=Rejzorova radna površ (Sofiš)
Comment[sr]=Кјут4 окружење радне површи
Comment[sr@ijekavian]=Кјут4 окружење радне површи
Comment[sr@latin]=Qt4 okruženje radne površi
Comment[sr@ijekavianlatin]=Qt4 okruženje radne površi
