[Desktop Entry]
Encoding=UTF-8
Type=XSession
Exec=razor-session -c session-openbox
Name=Razor Desktop (Openbox)
Comment=Qt4 Desktop

Name[ru]=Рабочий стол Razor (openbox)
Comment[ru]=Рабочий стол на Qt

Name[pl]=Razor-Qt (Openbox)
Comment[pl]=Środowisko graficzne Qt4