[Desktop Entry]
Encoding=UTF-8
Type=XSession
Exec=razor-session
Name=Razor Desktop (Failback)
Comment=Qt4 Desktop

Name[ru]=Рабочий стол Razor (безопасный режим)
Comment[ru]=Рабочий стол  на Qt