[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=System tray
Comment=Access hidden applications minimized in the system tray

Name[de]=Fensterleiste
Comment[de]=Zugang zu minimierten Anwendungen in der Fensterleiste

Name[es]=Bandeja del sistema
Comment[es]=Accede a aplicaciones ocultas minimizadas en la bandeja del sistema

Name[hu]=Paneltálca
Comment[hu]=A paneltálcára minimalizált, rejtett alkalmazások elérése

Name[pl]=Tacka systemowa
Comment[pl]=Udostępnia ukryte aplikacje

Name[ru]=Системный лоток
Comment[ru]=Значки программ, свернутых в системный лоток

Name[sk]=Oznamovacia oblasť
Comment[sk]=Prístup k skrytým aplikáciám minimalizovaným v oznamovacej oblasti

