[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=System tray
Name[ru]=Системный лоток
Name[pl]=Tacka systemowa
Name[es]=Bandeja del sistema
Comment=Access hidden applications minimized in the system tray
Comment[ru]=Значки программ, свернутых в системный лоток
Comment[pl]=Udostępnia ukryte aplikacje
Comment[es]=Accede a aplicaciones ocultas minimizadas en la bandeja del sistema
