[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin

Name=Show Desktop
Comment=Minimize all windows and show the desktop

Name[es]=Mostrar escritorio
Comment[es]=Minimiza todas las ventanas y muestra el escritorio

Name[hu]=Az asztal megjelenítése
Comment[hu]=Minimalizálja az összes ablakot és megjeleníti az asztalt

Name[pl]=Pokaż pulpit
Comment[pl]=Minimalizuje wszystkie okna i pokazuje pulpit

Name[ru]=Показать рабочий стол
Comment[ru]=Сворачивает все окна и показывает рабочий стол

Name[sk]=Zobraziť plochu
Comment[sk]=Minimalizuje všetky okná a zobrazí plochu

Name[de]=Zeige Desktop
Comment[de]=Minimiere alle Fenster und zeige den Desktop

Name[cs]=Ukázat plochu
Comment[cs]=Zmenšit všechna okna a ukázat plochu

Name[da]=Vis Skrivebord
Comment[da]=Minimerer alle programmer og viser skrivebord

Name[sr]=Приказ површи
Name[sr@ijekavian]=Приказ површи
Name[sr@latin]=Prikaz površi
Name[sr@ijekavianlatin]=Prikaz površi
Comment[sr]=Минимизуј све прозоре и прикажи радну површ
Comment[sr@ijekavian]=Минимизуј све прозоре и прикажи радну површ
Comment[sr@latin]=Minimizuj sve prozore i prikaži radnu površ
Comment[sr@ijekavianlatin]=Minimizuj sve prozore i prikaži radnu površ
