[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Task Manager
Name[ru]=Панель задач
Name[pl]=Pasek zadań
Name[es]=Administrador de Tareas
Name[hu]=Feladatkezelő
Name[de]=Anwendungsverwalter
Comment=Switch between running applications
Comment[ru]=Переключение между запущенными программами
Comment[pl]=Przełączaj się pomiędzy otwartymi aplikacjami
Comment[es]=Cambia entre aplicaciones activas
Comment[hu]=Váltás a futú alkalmazások között
Comment[de]=Wechsel zwischen laufenden Anwendungen