[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Task Manager
Comment=Switch between running applications

Name[de]=Anwendungsverwalter
Comment[de]=Wechsel zwischen laufenden Anwendungen

Name[es]=Administrador de Tareas
Comment[es]=Cambia entre aplicaciones activas

Name[hu]=Feladatkezelő
Comment[hu]=Váltás a futú alkalmazások között

Name[pl]=Pasek zadań
Comment[pl]=Przełączaj się pomiędzy otwartymi aplikacjami

Name[ru]=Панель задач
Comment[ru]=Переключение между запущенными программами

Name[sk]=Správca úloh
Comment[sk]=Prepínanie medzi bežiacimi aplikáciami

