[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Quick launch
Comment=Easy access to your favourite applications.

#TRANSLATIONS_DIR=../translations


# Translations
Comment[el_GR]=Εκκίνηση των αγαπημένων σας εφαρμογών
Name[el_GR]=Γρήγορη εκκίνηση
