[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Quicklaunch
Comment=Launch your favorite Applications

#TRANSLATIONS_DIR=../translations


# Translations
Comment[th_TH]=เรียกใช้งานโปรแกรมที่ชื่นชอบของคุณ
Name[th_TH]=ตัวเรียกโปรแกรมด่วน
