[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Quick launch
Comment=Easy access to your favourite applications.

#TRANSLATIONS_DIR=../translations


# Translations
Comment[lt]=Paleiskite savo mėgstamas programas
Name[lt]=Greitasis paleidimas
