[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Quicklaunch
Comment=Launch your favorite Applications

#TRANSLATIONS_DIR=../translations


# Translations
Comment[sr@latin]=Pokreće vaše omiljene programe
Name[sr@latin]=Brzo pokretanje
