[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Quicklaunch
Comment=Launch your favorite Applications

#TRANSLATIONS_DIR=../translations


# Translations
Comment[fi]=Käynnistä suosikkisovelluksesi
Name[fi]=Pikakäynnistys
