[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Quicklaunch
Comment=Launch your favorite Applications

#TRANSLATIONS_DIR=../translations


# Translations
Comment[de]=Starten Sie Ihre lieblings Anwendungen
Name[de]=Schnellstarter
