[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Quick launch
Comment=Easy access to your favourite applications.

#TRANSLATIONS_DIR=../translations


# Translations
Comment[de_DE]=Starte deine Lieblingsanwendungen
Name[de_DE]=Schnellstarter
