[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Quicklaunch
Comment=Launch your favorite Applications

#TRANSLATIONS_DIR=../translations


# Translations
Comment[sl]=Zaženite svoje priljubljene programe
Name[sl]=Hitri zagon
