[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Quick launch
Comment=Easy access to your favourite applications.

#TRANSLATIONS_DIR=../translations


# Translations
Comment[fr_FR]=Lancer votre application favorite
Name[fr_FR]=Lancement rapide
