[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Quicklaunch
Comment=Launch your favorite Applications

#TRANSLATIONS_DIR=../translations


# Translations
Comment[id_ID]=Luncurkan aplikasi favorit anda
Name[id_ID]=Quicklaunch
