[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Quicklaunch
Comment=Launch your favorite Applications

#TRANSLATIONS_DIR=../translations


# Translations
Comment[es_VE]=Iconos lanzadores de tus aplicaciones favoritas
Name[es_VE]=Lanzadores
