[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Quicklaunch
Comment=Launch your favorite Applications

#TRANSLATIONS_DIR=../translations


# Translations
Comment[ru_RU]=Запускайте свои любимые приложения
Name[ru_RU]=Быстрый запуск
