[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Quick launch
Comment=Easy access to your favourite applications.

#TRANSLATIONS_DIR=../translations


# Translations
Comment[pt]=Iniciar as aplicações preferidas
Name[pt]=Inicio rápido
