[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Quick launch
Comment=Easy access to your favourite applications.

#TRANSLATIONS_DIR=../translations


# Translations
Comment[pl]=Uruchamiaj Twoje ulubione aplikacje
Name[pl]=Szybkie uruchamianie
