[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Quick launch
Comment=Easy access to your favourite applications.

#TRANSLATIONS_DIR=../translations


# Translations
Comment[ru_RU]=Запускайте свои любимые приложения
Name[ru_RU]=Быстрый запуск
