[Desktop Entry]
OnlyShowIn=Razor;
Type=Application
Exec=razor-config-desktop
Terminal=false
Categories=Settings;DesktopSettings;Qt;Razor;
Icon=preferences-desktop
Name=Razor Desktop Configurator
Comment=Configure Razor-Qt desktop module
GenericName=Razor Desktop Configurator

#TRANSLATIONS_DIR=translations


# Translations
Comment[ja]=Razor-qtデスクトップモジュールを設定
GenericName[ja]=Razor-qtデスクトップの設定
Name[ja]=Razor-qtデスクトップの設定
Icon[ja]=デスクトップ初期設定
