[Desktop Entry]
OnlyShowIn=X-RAZOR;
Type=Application
Exec=razor-config-desktop
Terminal=false
Categories=Settings;DesktopSettings;Qt;X-RAZOR;
Icon=preferences-desktop
Name=Razor Desktop Configurator
Comment=Configure Razor-Qt desktop module
GenericName=Razor Desktop Configurator

#TRANSLATIONS_DIR=translations


# Translations
Comment[es_VE]=Configuracion de modulo de Razor-Qt
GenericName[es_VE]=Configurador de escritorio de Razor
Name[es_VE]=Configurador de escritorio de Razor
Icon[es_VE]=preferences-desktop
