[Desktop Entry]
OnlyShowIn=Razor;
Type=Application
Exec=razor-config-desktop
Terminal=false
Categories=Settings;DesktopSettings;Qt;Razor;
Icon=preferences-desktop
Name=Razor Desktop Configurator
Comment=Configure Razor-Qt desktop module
GenericName=Razor Desktop Configurator

#TRANSLATIONS_DIR=translations


# Translations
Comment[pl_PL]=Konfiguruj moduł pulpitu Razor-Qt
GenericName[pl_PL]=Konfigurator pulpitu Razor
Name[pl_PL]=Konfigurator pulpitu Razor
Icon[pl_PL]=ustawienia-pulpit
