[Desktop Entry]
OnlyShowIn=Razor;
Type=Application
Exec=razor-config-desktop
Terminal=false
Categories=Settings;DesktopSettings;Qt;Razor;
Icon=preferences-desktop
Name=Razor Desktop Configurator
Comment=Configure Razor-Qt desktop module
GenericName=Razor Desktop Configurator

#TRANSLATIONS_DIR=translations


# Translations
Comment[de_DE]=Razor-Qt Desktop-Modul konfigurieren
GenericName[de_DE]=Razor Desktop Konfigurator
Name[de_DE]=Razor Desktop Konfigurator
Icon[de_DE]=Einstellungen-Desktop
