[Desktop Entry]
OnlyShowIn=X-RAZOR;
Type=Application
Exec=razor-config-desktop
Terminal=false
Categories=Settings;DesktopSettings;Qt;X-RAZOR;
Icon=preferences-desktop
Name=Razor Desktop Configurator
Comment=Configure Razor-Qt desktop module
GenericName=Razor Desktop Configurator

#TRANSLATIONS_DIR=translations


# Translations
Comment[da_DK]=Indstil Razor-Qt skrivebordsmodul
GenericName[da_DK]=Razor Skrivebordsindstillinger
Name[da_DK]=Razor Skrivebordsindstillinger
Icon[da_DK]=indstillinger-skrivebord
