[Desktop Entry]
OnlyShowIn=X-RAZOR;
Type=Application
Exec=razor-config-desktop
Terminal=false
Categories=Settings;DesktopSettings;Qt;X-RAZOR;
Icon=preferences-desktop
Name=Razor Desktop Configurator
Comment=Configure Razor-Qt desktop module
GenericName=Razor Desktop Configurator

#TRANSLATIONS_DIR=translations


# Translations
Comment[el_GR]=Άρθρωμα διαμόρφωσης επιφάνειας εργασίας Razor-Qt
GenericName[el_GR]=Διαμόρφωση επιφάνειας εργασίας Razor
Name[el_GR]=Διαμόρφωση επιφάνειας εργασίας Razor
Icon[el_GR]=preferences-desktop
