[Desktop Entry]
OnlyShowIn=Razor;
Type=Application
Exec=razor-config-desktop
Terminal=false
Categories=Settings;DesktopSettings;Qt;Razor;
Icon=preferences-desktop
Name=Razor Desktop Configurator
Comment=Configure Razor-Qt desktop module
GenericName=Razor Desktop Configurator

#TRANSLATIONS_DIR=translations


# Translations
Comment[es]=Configura el módulo de escritorio de Razor-Qt
GenericName[es]=Configurador de Escritorio Razor
Name[es]=Configurador de Escritorio Razor
Icon[es]=preferences-desktop
