[Desktop Entry]
OnlyShowIn=Razor;
Type=Application
Exec=razor-config-desktop
Terminal=false
Categories=Settings;DesktopSettings;Qt;Razor;
Icon=preferences-desktop
Name=Razor Desktop Configurator
Comment=Configure Razor-Qt desktop module
GenericName=Razor Desktop Configurator

#TRANSLATIONS_DIR=translations


# Translations
Comment[sr]=Подесите Рејзоров модул радне површи
GenericName[sr]=Подешавање радне површи
Name[sr]=Подешавање радне површи Рејзора
