[Desktop Entry]
OnlyShowIn=Razor;
Type=Application
Exec=razor-config-desktop
Terminal=false
Categories=Settings;DesktopSettings;Qt;Razor;
Icon=preferences-desktop
Name=Razor Desktop Configurator
Comment=Configure Razor-Qt desktop module
GenericName=Razor Desktop Configurator

#TRANSLATIONS_DIR=translations


# Translations
Comment[ar]=تهيئة وحدة سطح مكتب ريزركيوت
GenericName[ar]=أداة تهيئة سطح المكتب ريزر
Name[ar]=أداة تهيئة سطح المكتب ريزر
Icon[ar]=تفضيلات سطح المكتب
