[Desktop Entry]
Type=Service
ServiceTypes=RazorDesktop/Plugin
Name=Clock
Comment=Clock

Name[pl]=Zegar
Comment[pl]=Zegar

Name[ru]=Часы
Comment[ru]=Часы

Name[sk]=Hodiny
Comment[sk]=Hodiny
