[Desktop Entry]
Type=Service
ServiceTypes=RazorDesktop/Plugin
Name=Clock
Comment=Clock

Name[ru]=Часы
Comment[ru]=Часы

Name[pl]=Zegar
Comment[pl]=Zegar

Name[es]=Reloj
Comment[es]=Reloj

Name[hu]=Óra
Comment[hu]=Óra

Name[de]=Uhr
Comment[de]=Uhr