[Desktop Entry]
Name=Razor LightDM Greeter
Comment=This runs the Razor LightDM greeter, it should only be run from LightDM
Exec=${CMAKE_CURRENT_BINARY_DIR}/razor-lightdm-greeter
Type=Application
X-Ubuntu-Gettext-Domain=lightdm
