[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=System tray
Name[ru]=Системный лоток
Comment=Access hidden applications minimized in the system tray
Comment[ru]=Значки программ, свернутых в системный лоток
