[Desktop Entry]
Type=Service
ServiceTypes=RazorDesktop/Plugin
Name=Hello World
Comment=Display rich text on the screen

Name[es]=Hola Mundo
Comment[es]=Muestra texto con formato en la pantalla

Name[hu]=Hello világ!
Comment[hu]=Üdvözlő szöveg megjelenítése a képernyőn

Name[de]=Hallo Welt
Comment[de]=Zeigt viel Text auf dem Bildschirm an

Name[pl]=Witaj Świecie
Comment[pl]=Wyświetla formatowany tekst na ekranie

Name[sk]=Hello World
Comment[sk]=Zobrazí obohatený text na obrazovke

Name[cs]=Lodi ahoj
Comment[cs]=Zobrazí formátovaný text na obrazovce

Name[da]=Hello World
Comment[da]=Vis formateret test på skærmen

Name[zh_TW]=Hello World
Comment[zh_TW]=在螢幕上顯示純文字

Name[sr]=Здраво свете
Name[sr@ijekavian]=Здраво свијете
Name[sr@latin]=Zdravo svete
Name[sr@ijekavianlatin]=Zdravo svijete
Comment[sr]=Приказ обогаћеног текста на екрану
Comment[sr@ijekavian]=Приказ обогаћеног текста на екрану
Comment[sr@latin]=Prikaz obogaćenog teksta na ekranu
Comment[sr@ijekavianlatin]=Prikaz obogaćenog teksta na ekranu
