[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Screensaver
Comment=Activate a screensaver and/or lock the screen

#TRANSLATIONS_DIR=../translations


# Translations
Comment[ru_RU]=Активировать хранитель экрана и/или заблокировать экран
Name[ru_RU]=Хранитель экрана
