[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Screensaver
Comment=Activate a screensaver and/or lock the screen

#TRANSLATIONS_DIR=../translations


# Translations
Comment[hu]=A képernyővédő aktiválása és/vagy a képernyő zárolása
Name[hu]=Képernyővédő
