[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Launch screensaver
Comment=Activate a screensaver and/or lock the screen

#TRANSLATIONS_DIR=../translations


# Translations
Comment[gl]=Activar o salvapantallas e/ou bloquear a pantalla
Name[gl]=Lanzar o salvapantallas
