[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Launch screensaver
Comment=Activate a screensaver and/or lock the screen

#TRANSLATIONS_DIR=../translations


# Translations
Comment[lt]=Aktyvuoja ekrano užsklandą ir/arba užrakina ekraną
Name[lt]=Ekrano užsklanda
