[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Launch screensaver
Comment=Activate a screensaver and/or lock the screen

#TRANSLATIONS_DIR=../translations


# Translations
Comment[sl]=Vklopite ohranjevalnik zaslona ali pa zaklenite zaslon.
Name[sl]=Ohranjevalnik zaslona
