[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Screensaver
Comment=Activate a screensaver and/or lock the screen

#TRANSLATIONS_DIR=../translations


# Translations
Comment[es_VE]=Activar el salvapantallas y/o bloquear la pantalla
Name[es_VE]=SalvaPantallas
