[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Launch screensaver
Comment=Activate a screensaver and/or lock the screen

#TRANSLATIONS_DIR=../translations


# Translations
Comment[da_DK]=Aktiverer pauseskærm og/eller låser skærmen
Name[da_DK]=Pauseskærm
