[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Launch screensaver
Comment=Activate a screensaver and/or lock the screen

#TRANSLATIONS_DIR=../translations


# Translations
Comment[fr]=Activer un économiseur d'écran et/ou verrouiller l'écran
Name[fr]=Lancer l'économiseur d'écran
