[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Screensaver
Comment=Activate a screensaver and/or lock the screen

#TRANSLATIONS_DIR=../translations


# Translations
Comment[pt]=Ativar uma proteção de ecrã e/ou bloquear o ecrã
Name[pt]=Proteção de ecrã
