[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Launch screensaver
Comment=Activate a screensaver and/or lock the screen

#TRANSLATIONS_DIR=../translations


# Translations
Comment[eo]=Enŝalti ekrankurtenon kaj/aŭ ŝlosi la ekranon
Name[eo]=Ekrankurteno
