[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Launch screensaver
Comment=Activate a screensaver and/or lock the screen

#TRANSLATIONS_DIR=../translations


# Translations
Comment[it_IT]=Attiva un salvaschermo e/o blocca lo schermo
Name[it_IT]=Salvaschermo
