[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Launch screensaver
Comment=Activate a screensaver and/or lock the screen

#TRANSLATIONS_DIR=../translations


# Translations
Comment[es_MX]=Activar un protector de pantalla y/o bloquear la pantalla
Name[es_MX]=Lanzar protector de pantalla
