[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=System tray
Comment=Display applications minimized to the system tray.

#TRANSLATIONS_DIR=../translations


# Translations
Comment[el_GR]=Πρόσβαση στις κρυφές εφαρμογές που ελαχιστοποιήθηκαν στο πλαίσιο συστήματος
Name[el_GR]=Πλαίσιο συστήματος
