[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=System tray
Comment=Access hidden applications minimized in the system tray

#TRANSLATIONS_DIR=../translations


# Translations
Comment[es_VE]=Acceder aplicaciones minimizadas en la barra de iconos de sistema
Name[es_VE]=Barra de sistema
