[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=System tray
Comment=Access hidden applications minimized in the system tray

#TRANSLATIONS_DIR=../translations


# Translations
Comment[de]=Zugang zu minimierten Anwendungen in der Fensterleiste
Name[de]=Fensterleiste
