[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=System tray
Comment=Display applications minimized to the system tray.

#TRANSLATIONS_DIR=../translations


# Translations
Comment[cs]=Přístup ke skrytým programům zmenšeným v oznamovací oblasti panelu
Name[cs]=Oznamovací oblast panelu
