[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=System tray
Comment=Access hidden applications minimized in the system tray

#TRANSLATIONS_DIR=../translations


# Translations
Comment[ru_RU]=Доступ к скрытым приложениям, минимизированным в системный трей
Name[ru_RU]=Системный трей
