[Desktop Entry]
OnlyShowIn=Razor;
Type=Application
Exec=razor-config
Terminal=false
Categories=Settings;DesktopSettings;Qt;Razor;
Icon=preferences-system
Name=Razor Configuration Center
Comment=Configure Razor-Qt modules
GenericName=Razor Configuration

#TRANSLATIONS_DIR=translations


# Translations
Comment[fr_FR]=Configurer les modules de Razor-Qt
GenericName[fr_FR]=Configuration de Razor
Name[fr_FR]=Centre de configuration de Razor
Icon[fr_FR]=Préférences du système
