[Desktop Entry]
OnlyShowIn=Razor;
Type=Application
Exec=razor-config
Terminal=false
Categories=Settings;DesktopSettings;Qt;Razor;
Icon=preferences-system
Name=Razor Configuration Center
Comment=Configure Razor-Qt modules
GenericName=Razor Configuration

#TRANSLATIONS_DIR=translations


# Translations
Comment[da]=Indstil Razor-Qt moduler
GenericName[da]=Razor Indstillingscenter
Name[da]=Razor Indstillingscenter
Icon[da]=preferences-system
