[Desktop Entry]
OnlyShowIn=X-RAZOR;
Type=Application
Exec=razor-config
Terminal=false
Categories=Settings;DesktopSettings;Qt;X-RAZOR;
Icon=preferences-system
Name=Razor Configuration Center
Comment=Configure Razor-Qt modules
GenericName=Razor Configuration

#TRANSLATIONS_DIR=translations


# Translations
Comment[es_VE]=Configurar modulos de Razor-Qt
GenericName[es_VE]=Configuracion de Razor
Name[es_VE]=Centro de Configuracion Razor
Icon[es_VE]=preferences-system
