[Desktop Entry]
OnlyShowIn=Razor;
Type=Application
Exec=razor-config
Terminal=false
Categories=Settings;DesktopSettings;Qt;Razor;
Icon=preferences-system
Name=Razor Configuration Center
Comment=Configure Razor-Qt modules
GenericName=Razor Configuration

#TRANSLATIONS_DIR=translations


# Translations
Comment[eu]=Konfiguratu Razor-Qt moduluak
GenericName[eu]=Razor konfigurazioa
Name[eu]=Razor konfigurazio-zentroa
Icon[eu]=hobespenak-sistema
