[Desktop Entry]
OnlyShowIn=X-RAZOR;
Type=Application
Exec=razor-config
Terminal=false
Categories=Settings;DesktopSettings;Qt;X-RAZOR;
Icon=preferences-system
Name=Razor Configuration Center
Comment=Configure Razor-Qt modules
GenericName=Razor Configuration

#TRANSLATIONS_DIR=translations


# Translations
Comment[el_GR]=Αρθρώματα ρύθμισης Razor-Qt
GenericName[el_GR]=Ρυθμίσεις Razor
Name[el_GR]=Κέντρο Ρυθμίσεων Razor
Icon[el_GR]=προτιμήσεις συστήματος
