[Desktop Entry]
OnlyShowIn=X-RAZOR;
Type=Application
Exec=razor-config
Terminal=false
Categories=Settings;DesktopSettings;Qt;X-RAZOR;
Icon=preferences-system
Name=Razor Configuration Center
Comment=Configure Razor-Qt modules
GenericName=Razor Configuration

#TRANSLATIONS_DIR=translations


# Translations
Comment[es_MX]=Configurar Módulos de Razor-qt
GenericName[es_MX]=Configuración de Razor
Name[es_MX]=Centro de Configuración de Razor
Icon[es_MX]=preferences-system
