[Desktop Entry]
OnlyShowIn=Razor;
Type=Application
Exec=razor-config
Terminal=false
Categories=Settings;DesktopSettings;Qt;Razor;
Icon=preferences-system
Name=Razor Configuration Center
Comment=Configure Razor-Qt modules
GenericName=Razor Configuration

#TRANSLATIONS_DIR=translations


# Translations
Comment[eo]=Agordi modulojn de Razor-Qt
GenericName[eo]=Agordilo de Razor
Name[eo]=Agordcentro de Razor
Icon[eo]=preferences-system
