[Desktop Entry]
OnlyShowIn=Razor;
Type=Application
Exec=razor-config
Terminal=false
Categories=Settings;DesktopSettings;Qt;Razor;
Icon=preferences-system
Name=Razor Configuration Center
Comment=Configure Razor-Qt modules
GenericName=Razor Configuration

#TRANSLATIONS_DIR=translations


# Translations
Comment[de]=Konfiguriere Razor-Qt Module
GenericName[de]=Razor Konfiguration
Name[de]=Razor Konfigurations Center
Icon[de]=preferences-system
