[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Application menu
Name[ru]=Меню программ
Name[pl]=Menu
Name[es]=Menu de Aplicaciones
Comment=Menu based application launcher
Comment[ru]=Меню запуска программ
Comment[pl]=Główne menu
Comment[es]=Lanzador de aplicaciones con menú
