[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin

Name=Application menu
Comment=Menu based application launcher

Name[de]=Anwendungsmenü
Comment[de]=Menü basierter Anwendungsstarter

Name[es]=Menu de Aplicaciones
Comment[es]=Lanzador de aplicaciones con menú

Name[hu]=Alkalmazásmenü
Comment[hu]=Alkalmazásindító alapú menü

Name[pl]=Menu
Comment[pl]=Główne menu

Name[ru]=Меню программ
Comment[ru]=Меню запуска программ

Name[sk]=Menu aplikácií
Comment[sk]=Spúšťanie aplikácií z menu

Name[cs]=Nabídka
Comment[cs]=Hlavní nabídka

Name[da]=Programmenu
Comment[da]=Menubaseret programstarter

Name[zh_TW]=應用程式選單
Comment[zh_TW]=基於應用程式啟動器的選單

Name[sr]=Мени програма
Name[sr@ijekavian]=Мени програма
Name[sr@latin]=Meni programa
Name[sr@ijekavianlatin]=Meni programa
Comment[sr]=Мени покретача програма
Comment[sr@ijekavian]=Мени покретача програма
Comment[sr@latin]=Meni pokretača programa
Comment[sr@ijekavianlatin]=Meni pokretača programa
