[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Application menu
Comment=Menu based application launcher

Name[de]=Anwendungsmenü
Comment[de]=Menü basierter Anwendungsstarter

Name[es]=Menu de Aplicaciones
Comment[es]=Lanzador de aplicaciones con menú

Name[hu]=Alkalmazásmenü
Comment[hu]=Alkalmazásindító alapú menü

Name[pl]=Menu
Comment[pl]=Główne menu

Name[ru]=Меню программ
Comment[ru]=Меню запуска программ

Name[sk]=Menu aplikácií
Comment[sk]=Spúšťanie aplikácií z menu

