Razorclockgui { color: lightsteelblue;                                                                                                                         
         background-color: black; }                                                                                                                            
                                                                                                                                                               
Razorbar QLabel { color: lightsteelblue;                                                                                                                       
         background-color: black; }   
