[Desktop Entry]
Type=Application
Exec=razor-autosuspend
Icon=razor-autosuspend
Terminal=false
Categories=Application;Qt;Utility
Name=Razor autosuspend
GenericName=Power management

#TRANSLATIONS_DIR=../translations


# Translations
GenericName[lt]=Energijos naudojimo nustatymai
Name[lt]=Razor automatinis užmigdymas
Icon[lt]=razor-autosuspend
