[Desktop Entry]
Type=Application
Exec=razor-autosuspend
Icon=razor-autosuspend
Terminal=false
Categories=Application;Qt;Utility
Name=Razor autosuspend
GenericName=Power management

#TRANSLATIONS_DIR=../translations


# Translations
GenericName[es_VE]=Manejador de Energía
Name[es_VE]=AutoSuspensión de Razor
Icon[es_VE]=razor-autosuspend
