[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Sensors
Comment=View readings from hardware sensors.


# Translations
Name[pt]=Sensores
Comment[pt]=Consultar valores dos sensores do equipamento (lm_sensors)
