[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Sensors
Comment=View readings from hardware sensors.


# Translations
Name[he]=חיישנים
Comment[he]=צפה בנתונים מן חיישני חומרה.
