[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Sensors
Comment=View readings from hardware sensors.


# Translations
Name[es]=Sensores
Comment[es]=Ver las lecturas de los sensores de harware (Actualmente lm_sensors)
