[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Sensors
Comment=View readings from hardware sensors.


# Translations
Name[fr]=Capteurs
Comment[fr]=Voir les mesures effectuées par les capteurs (actuellement lm_sensors)
