[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Sensors
Comment=View readings from hardware sensors.


# Translations
Name[lt]=Jutikliai
Comment[lt]=Rodo nuskaitymus iš jutiklių (lm_sensors)
