[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Sensors
Comment=View readings from hardware sensors.


# Translations
Name[es_MX]=Sensores
Comment[es_MX]=Ver las lecturas de los sensores de harware
