[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Sensors
Comment=View readings from hardware sensors (currently lm_sensors)


# Translations
Name[pl_PL]=Czujniki
Comment[pl_PL]=Pokaż wskazania z czujników (aktualnie lm_sensors)
