[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Sensors
Comment=View readings from hardware sensors (currently lm_sensors)


# Translations
Name[ca]=Sensors
Comment[ca]=Veure dades provinents dels sensors (actualment lm_sensors)
