[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Sensors
Comment=View readings from hardware sensors.


# Translations
Name[gl]=Sensores
Comment[gl]=Mostrar as lecturas dos sensores do hardware.
