[Desktop Entry]
Type=Service
ServiceTypes=RazorPanel/Plugin
Name=Sensors
Comment=View readings from hardware sensors.


# Translations
Name[da]=Sensorer
Comment[da]=Vis målinger fra hardware-sensorer (I øjeblikket lm_sensors)
