/* Notepad plugin style */
NotepadWin {
    background: transparent;
    margin: 0;
    padding: 0;
}

NotepadWin QTextEdit {
    background: rgba(255, 255, 255, 60%);
    color: #000000;
    margin: 0;
    border: none;
}


NotepadWin QToolButton {
    min-width: 19px;
    padding: 3px 2px;
    margin-right: 1px;
    margin-left: 0px;
}


NotepadWin QToolButton#leftSided {
    margin-left: 6px;
}

NotepadWin QToolButton#justified {
    margin-right: 0px;
}
/* ~Notepad plugin style */