[Desktop Entry]
Encoding=UTF-8
Type=XSession
Exec=razor-session-eggwm 
Name=Razor Desktop (eggwm)
Comment=Qt4 Desktop Environment

#TRANSLATIONS_DIR=translations


# Translations
Comment[fi]=Qt4-työpöytäympäristö
Name[fi]=Razor-työpöytä (eggwm)
