[Desktop Entry]
Encoding=UTF-8
Type=XSession
Exec=razor-session -w sawfish
TryExec=sawfish
Name=Razor Desktop (sawfish)
Comment=Qt4 Desktop Environment

#TRANSLATIONS_DIR=translations


# Translations
Name[it_IT]=Desktop Razor (sawfish)
Comment[it_IT]=Ambiente desktop Qt4
