[Desktop Entry]
Encoding=UTF-8
Type=XSession
Exec=razor-session
Name=Razor Desktop
Comment=Qt4 Desktop

#TRANSLATIONS_DIR=translations


# Translations
