[Desktop Entry]
Encoding=UTF-8
Type=XSession
Exec=razor-session -w kwin
TryExec=kwin
Name=Razor Desktop (kwin)
Comment=Qt4 Desktop Environment

#TRANSLATIONS_DIR=translations


# Translations
Name[uk]=Стільниця Razor (kwin)
Comment[uk]=Стільничне середовище Qt4
