[Desktop Entry]
Type=Application
Exec=razor-session
#TryExec=razor-session
Name=Razor Desktop
Comment=Qt4 Desktop

#TRANSLATIONS_DIR=translations


# Translations
Name[ar]=سطح المكتب ريزر
Comment[ar]=سطح المكتب كيوت٤
