[Desktop Entry]
Encoding=UTF-8
Type=XSession
Exec=razor-session-eggwm 
Name=Razor Desktop (eggwm)
Comment=Qt4 Desktop Environment

#TRANSLATIONS_DIR=translations


# Translations
Comment[pl]=Środowisko graficzne Qt4
Name[pl]=Pulpit Razor(eggwm)
