[Desktop Entry]
Type=Application
Exec=razor-session
#TryExec=razor-session
Name=Razor Desktop
Comment=Qt4 Desktop

#TRANSLATIONS_DIR=translations


# Translations
Name[zh_CN]=Razor 桌面
Comment[zh_CN]=Qt4 桌面
