[Desktop Entry]
Encoding=UTF-8
Type=XSession
Exec=razor-session -w sawfish
TryExec=sawfish
Name=Razor Desktop (sawfish)
Comment=Qt4 Desktop Environment

#TRANSLATIONS_DIR=translations


# Translations
Name[pl]=Pulpit Razor (sawfish)
Comment[pl]=Środowisko graficzne Qt4
