[Desktop Entry]
Type=Application
Exec=razor-session
#TryExec=razor-session
Name=Razor Desktop
Comment=Qt4 Desktop

#TRANSLATIONS_DIR=translations


# Translations
Name[tr]=Razor Masaüstü
Comment[tr]=Qt4 Masaüstü
