[Desktop Entry]
Encoding=UTF-8
Type=XSession
Exec=razor-session
Name=Razor Desktop
Comment=Qt4 Desktop

#TRANSLATIONS_DIR=translations


# Translations
Name[it_IT]=Desktop Razor
Comment[it_IT]=Desktop Qt4
