[Desktop Entry]
Encoding=UTF-8
Type=XSession
Exec=razor-session -w openbox
TryExec=openbox
Name=Razor Desktop (openbox)
Comment=Qt4 Desktop Environment

#TRANSLATIONS_DIR=translations


# Translations
Comment[cs_CZ]=Prostředí pracovní plochy Qt4
Name[cs_CZ]=Pracovní plocha Razor (openbox)
