[Desktop Entry]
Type=Application
Exec=razor-session
#TryExec=razor-session
Name=Razor Desktop
Comment=Qt4 Desktop

#TRANSLATIONS_DIR=translations


# Translations
Name[pl]=Pulpit Razor
Comment[pl]=Pulpit Qt4
