[Desktop Entry]
Type=Application
Exec=razor-session
#TryExec=razor-session
Name=Razor Desktop
Comment=Qt4 Desktop

#TRANSLATIONS_DIR=translations


# Translations
Name[de_DE]=Razor Desktop
Comment[de_DE]=Qt4 Desktop
